  .add-discounts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem 2rem;
    max-width: 50rem;
    height:fit-content;
    margin: auto;
    margin-top: 3rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #88888877;
    background-color: white;

    .title-wrapper {
        font-weight: bold;
        font-size: clamp(1.3rem, 1.5vw, 8rem);
        padding: 1rem 0 1rem;
        text-align: center;
    }
    
      .add-discounts-wrapper {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
          gap: .5rem;
          width: 100%;

          .checkbox {
              width: 100%;
              border: 1px solid #68A86A;
              background-color: #F7F7F7;
              display: flex;
              gap: .5rem;
              border-radius: 5px;
              padding: .5rem .5rem .5rem;

              .checkbox-wrapper {
                  gap: .5rem;
                  display: flex;
                  flex-direction: row-reverse;

                  .info {
                      .label {
                          font-size: clamp(1rem, 1vw, 8rem);
                          font-weight: bolder;
                      }
                  }

                  input {
                      flex: none;
                      width: 1.5rem;
                      height: 1.5rem;
                      cursor: pointer;
                  }
              }
          }
      }
  }