<div class="Availability-container" [@fadeInAnimation]>
    <div class="Availability-container-Availability-wrapper">
           <div class="card-style">
            <div class="title">
                 Trip Length
            </div>
            <div class="input">
                <div class="sub-title">Maximum night</div>
                <div class="input-wrapper">
                <input type="number" name="base-Availability" value="" placeholder="0"/>
            </div>
            </div>
            <div class="input">
                <div class="sub-title">Per night</div>
                <div class="input-wrapper">
                <input type="number" name="base-Availability" value="" placeholder="0"/>
            </div>
            </div>
           </div>
           <div class="card-style">
            <div class="title">
               Availability
            </div>
            <div class="input">
                <div class="sub-title">Advance Notice</div>
                <div class="input-wrapper">
                <input type="text" name="base-Availability" value="" placeholder=""/>
            </div>
            </div>
            <div class="input">
                <div class="sub-title">Preparation Time</div>
                <div class="input-wrapper">
                <input type="text" name="base-Availability" value="" placeholder=""/>
            </div>
            </div>
            <div class="input">
                <div class="sub-title">Availability Window</div>
                <div class="input-wrapper">
                <input type="text" name="base-Availability" value="" placeholder=""/>
            </div>
            </div>
           </div>
           <div class="card-style">
            <div class="title">
                More availability settings
            </div>
            <div class="input">
                <div class="sub-title">Restricted check-in</div>
                <div class="input-wrapper">
                    <div>₱</div>
                <input type="number" name="base-Availability" value="" placeholder="0"/>
            </div>
            </div>
            <div class="input">
                <div class="sub-title">Restricted checkout</div>
                <div class="input-wrapper">
                    <div>₱</div>
                <input type="number" name="base-Availability" value="" placeholder="0"/>
            </div>
            </div>

           </div>
         
    </div>
</div>
