<div class="price-container" [@fadeInAnimation]>
    <div class="price-container-price-wrapper">
           <div class="card-style">
            <div class="title">
                 Base Price
            </div>
            <div class="input">
                <div class="sub-title">Per night</div>
                <div class="input-wrapper">
                    <div>₱</div>
                <input type="number" name="base-price" value="" placeholder="0"/>
            </div>
            </div>
           </div>
           <div class="card-style">
            <div class="title">
                 Discounted Weekly
            </div>
            <div class="input">
                <div class="sub-title">Weekly</div>
                <div class="input-wrapper">
                <input type="number" name="base-price" value="" placeholder="0"/>
            </div>
            </div>
           </div>
           <div class="card-style">
            <div class="title">
                Discounted Monthly
            </div>
            <div class="input">
                <div class="sub-title">Monthly</div>
                <div class="input-wrapper">
                <input type="number" name="base-price" value="" placeholder="0"/>
            </div>
            </div>
           </div>
           <div class="card-style">
            <div class="title">
               Cleaning Fee
            </div>
            <div class="input">
                <div class="sub-title">Amount per stay</div>
                <div class="input-wrapper">
                    <div>₱</div>
                <input type="number" name="base-price" value="" placeholder="0"/>
            </div>
            </div>
           </div>
           <div class="card-style">
            <div class="title">
                Pet Fee
            </div>
            <div class="input">
                <div class="sub-title">Amount per stay</div>
                <div class="input-wrapper">
                    <div>₱</div>
                <input type="number" name="base-price" value="" placeholder="0"/>
            </div>
            </div>
           </div>
           <div class="card-style">
            <div class="title">
                Extra Guest Fee
            </div>
            <div class="input">
                <div class="sub-title">After 1 guest per night</div>
                <div class="input-wrapper">
                    <div>₱</div>
                <input type="number" name="base-price" value="" placeholder="0"/>
            </div>
            </div>
           </div>
    </div>
</div>
