<div class="content" #messageContainer>
  <div class="sender">
    <div class="sender-wrapper">
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 1
      </div>
    </div>
  </div>
  <div class="receiver">
    <div class="receiver-wrapper">
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 2
      </div>
    </div>
  </div>
  <div class="sender">
    <div class="sender-wrapper">
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 3
      </div>
    </div>
  </div>
  <div class="receiver">
    <div class="receiver-wrapper">
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 4
      </div>
    </div>
  </div>
  <div class="sender">
    <div class="sender-wrapper">
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 5
      </div>
    </div>
  </div>
  <div class="receiver">
    <div class="receiver-wrapper">
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 6
      </div>
    </div>
  </div>
  <div class="sender">
    <div class="sender-wrapper">
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 7
      </div>
    </div>
  </div>
  <div class="receiver">
    <div class="receiver-wrapper">
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 8
      </div>
    </div>
  </div>
  <div class="sender">
    <div class="sender-wrapper">
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 9
      </div>
    </div>
  </div>
  <div class="receiver">
    <div class="receiver-wrapper">
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 10
      </div>
    </div>
  </div>
  <div class="sender">
    <div class="sender-wrapper">
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 11
      </div>
    </div>
  </div>
  <div class="receiver">
    <div class="receiver-wrapper">
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 12
      </div>
    </div>
  </div>
  <div class="sender">
    <div class="sender-wrapper">
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 13
      </div>
    </div>
  </div>
  <div class="receiver">
    <div class="receiver-wrapper">
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 14
      </div>
    </div>
  </div>
  <div class="sender">
    <div class="sender-wrapper">
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 15
      </div>
    </div>
  </div>
  <div class="receiver">
    <div class="receiver-wrapper">
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 16
      </div>
    </div>
  </div>
  <div class="sender">
    <div class="sender-wrapper">
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 17
      </div>
    </div>
  </div>
  <div class="receiver">
    <div class="receiver-wrapper">
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 18
      </div>
    </div>
  </div>
  <div class="sender">
    <div class="sender-wrapper">
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 19
      </div>
    </div>
  </div>
  <div class="receiver">
    <div class="receiver-wrapper">
      <div class="message card">
        We enjoyed our stay! The space is clean and well-organized, and well
        providing amenities 20
      </div>
    </div>
  </div>
</div>
