.message-loading {
  padding: 0.5rem 0;
}

.sender {
  .sender-wrapper {
    display: flex;
    gap: 1rem;
    max-width: 20rem;

    .avatar {
      max-width: 35px;
      min-width: 35px;
      width: 35px;
      max-height: 35px;
      min-height: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      img {
        object-fit: cover;
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }

    .message {
      padding: 1rem;
      background-color: #d9d9d9;
    }
  }
}

.receiver {
  display: flex;
  justify-content: flex-end;

  .receiver-wrapper {
    display: flex;
    gap: 1rem;
    max-width: 20rem;

    .avatar {
      max-width: 35px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .message {
      background-color: #68a86a;
      padding: 1rem;
      color: white;
    }
  }
}
