.more-info {
  font-family: Poppins-Regular !important;
  background-color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  .header {
    flex: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem;
    justify-content: space-between;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .content {
    flex: 1;
    display: grid;
    place-content: center;
    height: 100%;
    overflow-y: auto;
    text-align: center;

    .title {
      font-size: clamp(1rem, 1.1vw, 4rem);
      line-height: 2rem;
      padding: 0.7rem;
    }
  }

  .footer {
    padding: 1rem 0 1rem;
    flex: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;

    .custom_btn {
      background-color: white;
      border: 2px solid #68a968;
      color: #68a968;
    }
  }
}
