.add-photos-place {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem 2rem;
    max-width: 50rem;
    height: 40rem;
    margin: auto;
    margin-top: 3rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #88888877;
    background-color: white;

    .title_wrapper {
        .title {
            font-weight: bold;
            font-size: clamp(1.3rem, 1.5vw, 8rem);
            padding: 1rem 0 1rem;
            text-align: center;
        }

        .sub_title {
            font-size: 15px;
            color: #8d8d8d;
            text-align: center;
        }
    }



    .add-photos-place-wrapper {
        flex: 1;
        display: flex;

        // border:1px solid black;
        .container {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 30% 70%;

            .upload-panel {

                // border:1px solid black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px; // Adjust padding as needed
                text-align: center;
                height: 100%;

                label {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 50%;
                        height: auto;
                    }
                }
            }

            .gallery {
                background-color: rgb(250, 250, 250);
                max-height: 30rem;
                overflow-y: auto;
                padding: 1rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
                grid-auto-flow: auto;
                place-content: center;
                place-items: center;
                margin: auto;
                gap: 1rem;
                width: 100%;
                height: 100%;
          

                .image {
                    position: relative;
                    max-width: 9rem;
                    height: 9rem;
                    border: 3px solid transparent;
                    object-fit: cover;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        object-fit: cover;
                        
                    }
                    &:hover {
                        cursor: pointer;
                    }



                    button {
                        border: none;
                        position: absolute;
                        top: auto;
                        bottom: 0;
                        left: 0;
                        right:0;
                        margin: auto;
                        transform: translateY(1rem);

                        mat-icon {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }


                }

                .is-cover {
                    max-width: 9rem;
                    height: 9rem;
                    border: 5px solid #68A86A;
                    border-radius: 5px;
                    object-fit: cover;
                }


            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .add-photos-place {
        margin-top: 0;
        max-width: 100% !important;
        width: 100%;
        border-radius: 0px;

        .add-photos-place-wrapper {
            .container {
                display: flex;
                flex-direction: column;

                .upload-panel {
                    padding: 0px;
                    height: fit-content !important;
                    // border: 1px solid black;
                }

                .gallery {
                    margin-top: 2rem; 
                    margin-bottom: 5rem;
                    max-height: 21.5rem;



                }
            }
        }
    }
}