<div class="search-filters-container">
        <form class="search-filters-container-layer-2-wrapper">
            <div class="location">
                <div class="location-wrapper" (click)="showLocationModal()">
                    <div>Where</div>
                    <mat-icon aria-hidden="false" aria-label="add_location" fontIcon="add_location"></mat-icon>
                    <input type="text" name="location" placeholder="Search locations" readonly />
                </div>
            </div>
            <div class="checkin-out-style">
                <div>Checkin</div>
                <div class="calendar-icon"></div>
                <input type="date" name="date" class="custom-date-input">
            </div>
            <div class="checkin-out-style">
                <div>Checkin</div>
                <div class="calendar-icon"></div>
                <input type="date" name="date" class="custom-date-input">
            </div>
            <div class="guest">
                <div class="guest-wrapper" (click)="showAddGuestModal()">
                    <div>Who</div>
                    <mat-icon aria-hidden="false" aria-label="people" fontIcon="people"></mat-icon>
                    <input type="text" placeholder="Add guest" value="" readonly />
                </div>
            </div>
            <button type="submit" value="">
                <mat-icon aria-hidden="false" aria-label="search" fontIcon="search"></mat-icon>
            </button>
        </form>
</div>