<div class="payout-wallet">
    <div class="header">
        <div class="close-button" (click)="close()">
            <mat-icon style="margin-top:3px">close</mat-icon>
        </div>
        <div class="title">Payment details</div>
        <div class="subtitle"></div>
    </div>
    <!-- <form>
          <div class="your-information-about-your-info">
              <div class="your-likes">
                  <div class="info">
                      <div class="input-wrapper">
                        <div class="label">Type</div>
                        <select>
                          <option *ngFor="let type of piTypes" [value]="type.val">{{ type.txt }}</option>
                        </select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="btn-sec">
              <button class="main-button">Done</button>
          </div>
      </form> -->
    <div class="payment-method">
        <div class="title-wrapper">
            <!-- <div class="title">Pay with</div> -->
            <div class="wallet-icons">
                <div *ngIf="defaultPaymentMethod === 0"><img
                        src="../../assets/images/main/book-staycation/visa.png" loading="lazy" alt="Avatar"
                        [draggable]="false"></div>
                <div *ngIf="defaultPaymentMethod === 0"><img
                        src="../../assets/images/main/book-staycation/mastercard.png" loading="lazy" alt="Avatar"
                        [draggable]="false"></div>
                <div *ngIf="defaultPaymentMethod === 1"><img
                        src="../../assets/images/main/book-staycation/gcash.png" loading="lazy" alt="Avatar"
                        [draggable]="false"></div>
                <div *ngIf="defaultPaymentMethod === 2"><img
                        src="../../assets/images/main/book-staycation/maya.png" loading="lazy" alt="Avatar"
                        [draggable]="false"></div>
            </div>
        </div>
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <div class="form_content">
                <div class="custom-select">
                    <div class="label">Payment Method</div>
                    <select #selectElement formControlName="paymentMethod" (change)="setPayMethod(selectElement)"
                        required>
                        <option *ngFor="let paymentMethod of paymentMethodName; let i = index" [value]="i"
                            [selected]="i === 0">
                            {{paymentMethod.payMethod}}
                        </option>
                    </select>
                </div>
                <div *ngIf="defaultPaymentMethod === 0">
                    <div class="custom-select">
                        <div class="label">Bank Name</div>
                        <select formControlName="paymentBank" class="" required>
                            <option value="" disabled>Select Bank Name</option>
                            <option *ngFor="let bank of bankList" [value]="bank">{{ bank }}</option>
                        </select>
                    </div>

                    <div class="input_num">
                        <div class="label">Card Number</div>
                        <input type="text" formControlName="cardNumber" placeholder="Card number" />
                        <ng-container
                            *ngIf="paymentForm.get('cardNumber')?.invalid && (paymentForm.get('cardNumber')?.dirty || paymentForm.get('cardNumber')?.touched)">
                            <span class="val-err-msg">Card number is required and must be 16 digits long.</span>
                        </ng-container>
                    </div>

                    <div class="wrapper">
                        <div>
                            <div class="label">Expiration Date</div>
                            <div class="expiration-style">
                                <input class="custom-date-input" type="date" formControlName="expirationDate" />
                            </div>
                            <ng-container
                                *ngIf="paymentForm.get('expirationDate')?.invalid && (paymentForm.get('expirationDate')?.dirty || paymentForm.get('expirationDate')?.touched)">
                                <span class="val-err-msg">Expiration date is required.</span>
                            </ng-container>
                        </div>

                        <div class="ccv-input">
                            <div class="label">CCV</div>
                            <input type="text" formControlName="ccv" placeholder="CCV" />
                            <ng-container
                                *ngIf="paymentForm.get('ccv')?.invalid && (paymentForm.get('ccv')?.dirty || paymentForm.get('ccv')?.touched)">
                                <span class="val-err-msg">CCV is required and must be 3 or 4 digits long.</span>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="form_footer">
                    <button class="main-button" type="submit" [disabled]="paymentForm.invalid">
                        <span *ngIf="defaultPaymentMethod ===  0">Done</span>
                        <span *ngIf="defaultPaymentMethod === 1">Go to Gcash</span>
                        <span *ngIf="defaultPaymentMethod === 2">Go to Maya</span>
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>