<div class="booking-terms">
    <div class="custom_close" (click)="closeDialogInfo()"><mat-icon>close</mat-icon></div>
    <hr>
    <div class="booking-terms-wrapper">
        <div class="title">
            Booking Terms
        </div>
        <div class="booking-terms-wrapper-houserules">
            <div class="header">
                <div class="title">House Rules</div>
                <div class="subtitle">
                    You’ll be staying in someone’s home, so please treat it with care and respect.
                </div>
            </div>
            <div class="content">
                <div class="checkinandout">
                    <div class="title">Check in and out</div>
                    <div class="checkinandout_wrapper">
                        <div class="checkinout">
                            <div class="label">
                                <mat-icon>access_time</mat-icon>
                                <div>Check in</div>
                            </div>
                            <div class="time">3:00 PM - 8:00 PM</div>
                        </div>
                        <div class="checkinout">
                            <div class="label">
                                <mat-icon>access_time</mat-icon>
                                <div>Check out before</div>
                            </div>
                            <div class="time">10:00 AM</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="duringstay">
                    <div class="title">During your stay</div>
                    <div class="duringstay_wrapper">
                        <div class="info">11 guests maximum</div>
                        <div class="info">No pets</div>
                        <div class="info">Quiet hours is 10 PM</div>
                        <div class="info">No parties or events</div>
                        <div class="info">No commercial photography</div>
                        <div class="info">No smoking</div>
                    </div>
                </div>
                <hr>
                <div class="additionalrules">
                    <div class="title">Additional rules</div>
                    <div class="additionalrules_wrapper">
                        <p>
                            Children of all ages are welcome in our villa, however the swimming pool is an infinity
                            pool, as shown in the photos, it is therefore imperative that all children be and remain
                            under the supervision of an adult throughout swimming.
                            the villa is to remain a quiet vacation rental, it is not open to any type of parties,
                            workshops, loud music and gatherings
                            Due to excessive abuse , electricity will now charged at 7 thb per unit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="booking-terms-wrapper-damages">
            <div class="header">
                <div class="title">Getting charged for damage</div>
                <div class="subtitle">
                    Accidents are rare, but they happen. If you, someone you invite, or a pet are responsible for damage
                    during a stay, your payment method may be charged. </div>
            </div>
            <div class="content">
                <div class="additionalrules">
                    <div class="wrapper">
                        <div class="title">What can I be charged for?</div>
                        <div class="description">
                            You could be charged for damage, any of your Proprietor’s stuff that goes missing, or
                            unexpected
                            cleaning costs due to your stay.
                        </div>
                    </div>
                    <hr>
                    <div class="wrapper">
                        <div class="title">What’s the process?</div>
                        <div class="description">
                            If you and your Proprietor can’t work it out first, we’ll step in to determine
                            responsibility. We’ll only charge your payment method if we have reason to believe you’re
                            responsible.
                        </div>
                    </div>
                    <hr>
                    <div class="wrapper">
                        <div class="title">What if I don’t agree?</div>
                        <div class="description">
                            You’ll have a chance to appeal if you think we made a mistake.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="booking-terms-wrapper-taragogroundrules">
            <div class="header">
                <div class="title">TaraGo’s ground rules for guests</div>
                <div class="subtitle">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>
            <div class="content">
                <div class="additionalrules">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium culpa architecto quisquam ipsam dolorem minus facere cumque error rerum, ex itaque dolorum veritatis! Aperiam veniam aliquam quod iure minus repellendus.
                </div>
            </div>
        </div>
        <div class="booking-terms-wrapper-taragogrebookrefund">
            <div class="header">
                <div class="title">TaraGo’s rebooking and refund policy</div>
                <div class="subtitle">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </div>
            </div>
            <div class="content">
                <div class="additionalrules">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium culpa architecto quisquam ipsam dolorem minus facere cumque error rerum, ex itaque dolorum veritatis! Aperiam veniam aliquam quod iure minus repellendus.
                </div>
            </div>
        </div>
    </div>
</div>