<section class="wish-list-container">
    <div class="property-title">
        <div class="title-wrapper">
            <div class="title">Your Wishlist</div>
        </div>
        <div class="filter_search">
            <div class="search">
                <input type="text" placeholder="Search..." [(ngModel)]="searchInputs"
                    (input)="filterItems(searchInput.value)" #searchInput>
                <mat-icon>search</mat-icon>
            </div>
        </div>

    </div>
    <div class="content" *ngIf="listproperties.length > 0"  [@fadeInAnimation]>
        <div class="card stacked" *ngFor="let properties of listproperties"
            (click)="navigateToBookStaycation(listproperties._id)">
            <div class="image">
                <img [src]="properties.image" alt="image" />
            </div>
            <div class="content__card">
                <div class="info">
                    <div class="title">{{properties.title}}</div>
                    <div class="description">{{properties.description}}</div>
                    <div class="permonth">{{properties.permonth}}<span>&nbsp;monthly</span></div>
                </div>
                <div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
        <div class="custom-not-found" *ngIf="listproperties.length === 0">
            <div class="title">
                No Wishlist...yet!
            </div>
            <div class="subtitle">
                Save your favorite place for your next adventure.
            </div>
            <div class="btn ">
                 <button class="main-button" (click)="goToSeacrhList()">Start Searching</button>
            </div>
    </div>
</section>