.wish-list-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 90vh;

    .property-title {
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;

        button {
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            gap: .3;
            text-decoration: underline;
            cursor: pointer;
        }

        .title-wrapper {
            padding: 0 1rem 0;
            font-weight: bold;
            font-size: clamp(1.5rem, 1.5vw, 8rem);

            .title {
                font-weight: bold;
                font-size: clamp(1.5rem, 1.5vw, 8rem);
            }

            .heart {
                color: #68A968;
                display: flex;
                gap: .5rem;
                align-items: center;
            }
        }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        cursor: pointer;
        margin-top: 2rem;
        // border:2px solid black;


        .stacked {
            display: grid;

            * {
                grid-column: 1 /.5;
                grid-row: 1/.5;
            }
        }

        .card {
            width: fit-content;
            text-align: center;
            margin: auto;
            // box-shadow: -6px 11px 8px rgba(0, 0, 0, 0.3);
            border-radius: 5%;
            width: 100%;
            // border:2px solid black;

            .content__card {
                position: relative;
                z-index: 2;
                align-self: end;
                margin-bottom: 1.5rem;
                // border:2px solid black;

                .info {
                    height: fit-content;
                    text-align: left;

                    .title {
                        display: inline-flex;
                        align-items: center;
                        font-weight: bold;
                        font-size: max(min(.8rem), .5vw);
                        color: black;
                        // border: 1px solid black;
                        height: fit-content;
                    }

                    .description {
                        font-size: max(min(.8rem), .5vw);
                    }

                    .permonth {
                        font-size: max(min(.8rem), .5vw);
                        color: #68A968;
                        font-weight: bold;
                    }
                }

            }

            .image {
                // border:2px solid rgb(228, 31, 31);
                width: 100%;

                img {
                    aspect-ratio: 1/1;
                    border-radius: 15px;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    object-position: center;
                }

            }

            .image:hover {
                opacity: 85%;
            }

        }
    }
}