<mat-card>
  <mat-card-header>
    <mat-card-title>TaraGo fees</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h3>Add fee</h3>
      <b>Price Types:</b>
      <ul>
        <li>
          <b>Fixed</b> - Adds directly to the booking price.
        </li>
        <li>
          <b>Percentage</b> - Gets the percentage of the booking price and adding it as fee.
        </li>
      </ul>
      <form class="form" [formGroup]="addTaxForm" (ngSubmit)="addTax(addTaxForm, 'service_fee')">
        <div class="input-wrapper">
          <label>Name</label>
          <input type="text" name="feeName" formControlName="feeName" required>
          <ng-container *ngFor="let val of validation.feeName">
            <span class="val-err-msg" *ngIf="addTaxForm.controls['feeName']?.hasError(val.type) && (addTaxForm.controls['feeName']?.touched || addTaxForm.controls['feeName']?.dirty)">{{ val.msg }}</span>
          </ng-container>
        </div>
        <div class="input-wrapper">
          <label>Price</label>
          <input type="number" name="price" formControlName="price" required>
          <ng-container *ngFor="let val of validation.price">
            <span class="val-err-msg" *ngIf="addTaxForm.controls['price']?.hasError(val.type) && (addTaxForm.controls['price']?.touched || addTaxForm.controls['price']?.dirty)">{{ val.msg }}</span>
          </ng-container>
        </div>
        <div class="input-wrapper">
          <label>Type</label>
          <select name="type" formControlName="type" required>
            <option value="fixed">Fixed</option>
            <option value="percentage">Percentage</option>
          </select>
          <ng-container *ngFor="let val of validation.type">
            <span class="val-err-msg" *ngIf="addTaxForm.controls['type']?.hasError(val.type) && (addTaxForm.controls['type']?.touched || addTaxForm.controls['type']?.dirty)">{{ val.msg }}</span>
          </ng-container>
        </div>
        <button mat-raised-button type="submit" [disabled]="!addTaxForm.valid">Add</button>
      </form>
    </div>
    <table mat-table [dataSource]="taxTableDS">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Fee Description</th>
        <td mat-cell *matCellDef="let data">
          {{ data.feeName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fee">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let data">
          {{ data.price }}
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let data">
          {{ data.type }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let data; let i = index">
          <button mat-icon-button type="button" color="warn" (click)="removeTax(data, i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="taxTableDSColumn"></tr>
      <tr mat-row *matRowDef="let row; columns: taxTableDSColumn"></tr>
    </table>
  </mat-card-content>
</mat-card>