.payment-wallet {
  padding: 1rem 2rem;
  position: relative;

  .close-button {
    position: absolute;
    top: 15px;
    right: 2rem;
    cursor: pointer;
  }

  h2 {
    margin-bottom: 0;
  }

  .input-wrapper {
    width: 100%;
    margin-bottom: 0.75rem;

    label {
      display: block;
      margin-bottom: 0.3rem;
    }

    input,
    select {
      padding: 0.75rem;
      border: 2px solid #63ab68;
      width: 100%;
      border-radius: 10px;
      font-family: Poppins-Medium;
      font-size: 15px;
    }

    input::placeholder,
    select::placeholder {
      color: #d1d1d1;
      font-weight: normal;
      font-size: 0.8rem;
    }

    button {
      background-color: #68a968;
      color: white;
      gap: 0.3rem;
      padding: 0 2rem;
      letter-spacing: 0.1rem;
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .payment-content {
    margin-top: 0.5rem;

    .payment-method {
      margin-bottom: 1.25rem;
    }
    .details {
      h4 {
        margin: 0;
        font-weight: 600;
      }
    }
    .expiration {
      h4 {
        margin: 0;
        font-weight: 600;
      }

      .inputs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.5rem;
      }
    }
  }
}
