<div class="payment-wallet">
  <div class="header">
    <div class="close-button" (click)="close()">
      <mat-icon style="margin-top: 3px">close</mat-icon>
    </div>
    <h2>Add Payment Method</h2>
    <hr />
  </div>

  <div class="payment-content">
    <div class="payment-method input-wrapper">
      <label for="select-type">Select Payment Type</label>
      <select
        name="select-type"
        [(ngModel)]="selectedType"
        (change)="resetForms()"
      >
        <option *ngFor="let t of paymentMethodName" [value]="t.value">
          {{ t.payMethod }}
        </option>
      </select>
    </div>

    <!-- form (card)-->
    <form
      class="card-form"
      *ngIf="selectedType === 'card'"
      [formGroup]="addCardForm"
      (ngSubmit)="onSubmit('card')"
    >
      <div class="input-wrapper">
        <label>Card Number</label>
        <input
          type="text"
          name="card"
          formControlName="card"
          maxlength="16"
          (keypress)="checkChar($event)"
          required
        />
      </div>
      <div class="expiration">
        <h4>Expiration</h4>

        <div class="inputs">
          <div class="input-wrapper">
            <label>Month</label>
            <input
              type="text"
              name="expiryMonth"
              formControlName="expiryMonth"
              maxlength="2"
              (keypress)="checkChar($event)"
              required
            />
          </div>
          <div class="input-wrapper">
            <label>Year</label>
            <input
              type="text"
              name="expiryYr"
              formControlName="expiryYear"
              maxlength="2"
              (keypress)="checkChar($event)"
              required
            />
          </div>
          <div class="input-wrapper">
            <label>CVC/CVV</label>
            <input
              type="text"
              name="cvc"
              formControlName="cvc"
              maxlength="4"
              (keypress)="checkChar($event)"
              required
            />
          </div>
        </div>
      </div>

      <div class="details">
        <h4>Card Details</h4>

        <div class="input-wrapper">
          <label>Name on Card</label>
          <input
            type="text"
            name="cardName"
            formControlName="cardName"
            required
          />
        </div>
        <div class="input-wrapper">
          <label>Contact Number</label>
          <input
            type="text"
            name="mobileNumber"
            formControlName="mobileNumber"
            (keypress)="checkChar($event)"
            maxlength="11"
            required
          />
        </div>
      </div>
      <div class="input-wrapper button-wrapper">
        <button mat-raised-button type="submit" [disabled]="!addCardForm.valid">
          Save
        </button>
      </div>
    </form>

    <!-- form (gcash) -->
    <form
      *ngIf="selectedType === 'gcash'"
      [formGroup]="addGCashForm"
      (ngSubmit)="onSubmit('gcash')"
    >
      <div class="input-wrapper">
        <label>Account Name</label>
        <input type="text" name="name" formControlName="name" />
      </div>
      <div class="input-wrapper">
        <label>Accout Number</label>
        <input
          type="text"
          name="number"
          formControlName="number"
          (keypress)="checkChar($event)"
          maxlength="11"
        />
      </div>
      <div class="input-wrapper button-wrapper">
        <button
          mat-raised-button
          type="submit"
          [disabled]="!addGCashForm.valid"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
