<div class="more-info">
    <div class="header">
        <div class="title">
            For Approval
        </div>
        <div class="close-button-normal" (click)="closeValidation()"><mat-icon>close</mat-icon></div>
    </div>
    <hr>

    <div class="content">
        <!-- <div class="name_info">
             Guest Name
        </div> -->
            <div class="title">Are you sure you want to approved <span>(guest name's)</span> booking?</div>
    </div>
    <hr>

    <div class="footer">
        <button class="main-button custom_btn" (click)="closeValidation()">Cancel</button>
        <button class="main-button">Approved</button>
    </div>
</div>