<div class="cancel-container">
    <div class="header">
        <div class="title">
          Warning
        </div>
        <div class="close-button-normal" (click)="closeDialog()"><mat-icon>close</mat-icon></div>
    </div>
    
    <form (ngSubmit)="onSubmit()" #cancelForm="ngForm">
        <div class="select-container">
            <select name="cancelReason" id="cancel-reason" class="cancel-select" [(ngModel)]="selectedReason" required>
                <option value="" disabled selected>Select a reason</option>
                <option value="">I no longer need accommodations.</option>
                <option value="">I made the reservation by accident.</option>
                <option value="">I'm uncomfortable with the host</option>
                <option value="">My travel dates changed</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div *ngIf="selectedReason === 'Other'" class="other-reason-container">
            <textarea type="text" class="other-reason-input" name="otherReason" [(ngModel)]="otherReason"
                placeholder="Please specify the reason" required></textarea>
        </div>
        <div class="btn_reason">
            <button type="submit" class="cancel-btn">Cancel</button>
            <button type="submit" class="cancel-btn" [disabled]="cancelForm.invalid">Submit</button>
        </div>
    </form>
</div>