<div class="today-tabs" [@fadeInAnimation]>
   <div class="today-tabs-today-tabs-wrapper">
      <div class="content">
         <div class="mat-elevation-z3">
            <div class="title">Checking-out</div>
            <div class="search">
               <input matInput (keyup)="applyFilter($event)" placeholder="Search here..">
               <mat-icon>search</mat-icon>
            </div>
            <div class="table-container">
               <table mat-table [dataSource]="dataSource" class="mat-table-responsive">

                  <ng-container matColumnDef="id">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">ID</th>
                     <td mat-cell *matCellDef="let element">{{element.id}}</td>
                  </ng-container>

                  <ng-container matColumnDef="property">
                     <th mat-header-cell *matHeaderCellDef style="width:10rem;">Property</th>
                     <td mat-cell *matCellDef="let element">
                        <div class="custom-property">
                           <img class="img" src={{element.propertyimage}} alt="property" />
                           <div class="name">{{element.nameofproperty}}</div>
                        </div>
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="guestnames">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Booked guest</th>
                     <td mat-cell class="name" *matCellDef="let element">
                        <div class="custom-guest">
                           <img class="img" src={{element.guestimage}} alt="property" />
                           <div class="name">{{element.guestnames}}</div>
                        </div>
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="instantbook">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Instant Book</th>
                     <td mat-cell *matCellDef="let element">{{element.instantbook}}</td>
                  </ng-container>

                  
                  <ng-container matColumnDef="numofguest">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Guest</th>
                     <td mat-cell *matCellDef="let element">{{element.numofguest}}</td>
                  </ng-container>

                  <ng-container matColumnDef="bookingdate">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Date booked</th>
                     <td mat-cell *matCellDef="let element">{{element.bookingdate | date:'shortDate'}}</td>
                  </ng-container>

                  <ng-container matColumnDef="reservationdate">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Reservation Date</th>
                     <td mat-cell *matCellDef="let element">
                        <div class="custom-checkinout">
                           <div>{{element.reservationindate | date:'shortDate'}} </div>
                           <div>-</div>
                           <div>{{element.reseservationoutdate | date:'shortDate'}} </div>
                        </div>
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="interval">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Interval</th>
                     <td mat-cell *matCellDef="let element" style="white-space: pre;"> {{ element.interval | pluralize: element.intervalunit }}</td>
                  </ng-container>
  

                  <ng-container matColumnDef="checkindate">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Check-In date</th>
                     <td mat-cell *matCellDef="let element">
                        {{element.checkindate | date:'shortDate'}}
                     </td>
                  </ng-container>


                  <ng-container matColumnDef="checkoutdate">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Check-Out date</th>
                     <td mat-cell *matCellDef="let element">
                        {{element.checkoutdate | date:'shortDate'}}
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="checkintime">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Check-In time</th>
                     <td mat-cell *matCellDef="let element">
                        {{ element.checkintime ? (element.checkintime | date:'hh:mm a') : 'No Time' }}
                     </td>
                  </ng-container>


                  <ng-container matColumnDef="checkouttime">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Check-Out time</th>
                     <td mat-cell *matCellDef="let element">
                        {{ element.checkouttime ? (element.checkouttime | date:'hh:mm a') : 'No Time' }}
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="remainingtime">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Remaining time</th>
                     <td mat-cell *matCellDef="let element" style="white-space: pre;">{{element.remainingtime | timeFormat}}</td>
                  </ng-container>

                  <ng-container matColumnDef="paymenttype">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Payment type</th>
                     <td mat-cell *matCellDef="let element">{{element.paymenttype}}</td>
                  </ng-container>

                  <ng-container matColumnDef="paidamount">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Total Payout</th>
                     <td mat-cell *matCellDef="let element">{{element.paidamount | currency:'PHP':'symbol'}}</td>
                  </ng-container>

                  <ng-container matColumnDef="balanceamount">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Balance</th>
                     <td mat-cell *matCellDef="let element">{{element.balanceamount | currency:'PHP':'symbol'}}</td>
                  </ng-container>

                  <ng-container matColumnDef="totalearnings">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Earnings</th>
                     <td mat-cell *matCellDef="let element">{{element.totalearnings | currency:'PHP':'symbol'}}</td>
                  </ng-container>


                  <ng-container matColumnDef="action">
                     <th mat-header-cell *matHeaderCellDef style="white-space: pre;">Action</th>
                     <td mat-cell *matCellDef="let element">
                        <button class="action-btn" mat-button [matMenuTriggerFor]="menu">
                           <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                           <button mat-menu-item (click)="viewForApprovalDetails()">View Details</button>
                           <button mat-menu-item (click)="viewProfile()">View Guest Profile</button>
                           <button mat-menu-item (click)="messageGuest()">Message Guest</button>
                        </mat-menu>
                     </td>
                  </ng-container>
                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               </table>
               <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
         </div>
         <!-- <div class="no-checking">
                 <div>You don’t have any upcoming.</div> 
            </div> -->
      </div>
   </div>
</div>