.faq-modal {
  position: relative;

  .faq-close-btn {
    position: absolute;
    top: 15px;
    right: 2rem;
    cursor: pointer;
  }

  padding: 1rem 2rem;
  h2 {
    margin-bottom: 0;
  }
  .faq-form-container {
    margin: 0.75rem 0 0.5rem 0;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;

      .image-preview {
        width: 100%;
        max-width: 35rem;
        margin: auto;
        .image {
          width: 100%;
          max-width: 35rem;
          height: auto;
          border-radius: 0.25rem;
          box-shadow: 5px 5px 5px lightgray;
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    .btn-danger {
      background-color: rgb(243, 102, 102);
    }
  }

  .input-wrapper {
    width: 100%;

    mat-checkbox {
      transform: translateX(-0.75rem);
    }

    .label {
      margin-bottom: 0.3rem;
    }

    textarea {
      padding: 1rem;
      border: 2px solid #63ab68;
      width: 100%;
      height: 8rem;
      border-radius: 10px;
      font-family: Poppins-Medium;
      font-size: 15px;
      resize: none;
    }

    input {
      padding: 0.5rem;
      border: 2px solid #63ab68;
      width: 100%;
      border-radius: 10px;
      font-family: Poppins-Medium;
      font-size: 15px;
      cursor: pointer;
    }

    textarea::placeholder,
    input::placeholder {
      color: #d1d1d1;
      font-weight: normal;
      font-size: 0.8rem;
    }

    button {
      background-color: #68a968;
      color: white;
      gap: 0.3rem;
      padding: 0 2rem;
      letter-spacing: 0.1rem;
    }
  }
}
