.today-tabs {
  font-family: Poppins-Regular !important;
  &-today-tabs-wrapper {
    .content {
      height: 50vh;
      max-height: 40rem;
      margin: 1rem 0 1rem;
      border-radius: 20px;

      .header_title_date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem 0;

        .title {
          margin: 0;
          padding: 0;
        }
      }

      .search {
        display: flex;
        margin: 1rem 1rem 1rem;
        width: 100%;
        max-width: 20rem;
        padding: .5rem 1rem .5rem;
        border: 1px solid rgb(190, 190, 190);
        border-radius: 10px;

        input {
          width: 100%;
          border: none;
          outline: none;

        }

        mat-icon {
          color: #63AB68;
        }
      }

      .table-container {
        font-family: Poppins-Regular !important;
        width: 100%;
        overflow: auto
      }

      .mat-table-responsive {
        width: 100%;
        overflow-x: auto !important;
        display: table;
        position: relative;
        font-family: Poppins-Regular !important;
 
      }
 

      .img {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
      }

      .action-btn {
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
      }


      .no-checking {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
  

      .custom_guest_btn{
        padding:.5rem 1rem .5rem;
        border:1px solid rgb(190, 190, 190);
        border-radius: 5px;
        cursor: pointer;
        margin-left: 1rem;
      }

      .custom_guest_btn:hover{
        background-color: rgb(236, 236, 236);
      }

    }
  }

  .custom-modal{
    height:20rem !important;
  }

}

@media only screen and (max-width: 500px) {
  .today-tabs {
    &-today-tabs-wrapper {

      .content {

        .header_title_date {
          display: flex;
          flex-direction: column;

          .title {}
        }

        .search {
          margin: auto;
          margin-top: 1rem;
        }

        .table-container {}

        .mat-table-responsive {
          display: block;

        }
      }
    }
  }
}