<div class="register-proprietor-intro">
    <div class="nav-wrapper">
        <app-nav></app-nav>
    </div>
    <div class="register-proprietor-intro-wrapper">
        <div class="girl-image">
            <img src="./assets/images/proprietor-registration/girl.png" alt="logo" draggable="false" />
        </div>
        <div class="content">
            <div class="content-wrapper">
                <h1>
                    Be a proprietor
                </h1>
                <br>
                <div class="info">
                    <h1 class="info_title">1. Tell us about your place</h1>
                    <p class="subinfo">Share some basic info, like where it is and how many
                        guests can stay.</p>
                    <h1 class="info_title">2. Make it stand out</h1>
                    <p class="subinfo">Add 5 or more photos plus a title and description-
                        we'll help you out.</p>
                    <h1 class="info_title">3. Finish up and publish</h1>
                    <p class="subinfo">Choose if you'd like to start with an experienced
                        guest, set a starting price, and publish your listing.</p>
                </div>
                <div class="btn">
                    <button class="main-button" (click)="scrollToRegProp()">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>
<form (ngSubmit)="handleRegProp(regPropForm)" #regPropFormDir="ngForm" [formGroup]="regPropForm">
    <div class="register-proprietor-listing-container" #getStarted>
        <div class="register-proprietor-listing-container-wrapper">
            <mat-stepper orientation="horizontal" [linear]="isLinear" #regPropFormStepper>
                <mat-step [stepControl]="regPropForm.controls['step1']" errorMessage="Please at least one (1) description of your place">
                    <ng-template matStepLabel>Describe your place</ng-template>
                    <app-step1 formGroupName="step1"></app-step1>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="regPropForm.controls['step2']">
                    <ng-template matStepLabel>Type of place will guest have</ng-template>
                    <app-step2 formGroupName="step2"></app-step2>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="regPropForm.controls['step3']">
                    <ng-template matStepLabel>Tell the guest where the place is located</ng-template>
                    <app-step3 formGroupName="step3"></app-step3>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="regPropForm.controls['step4']">
                    <ng-template matStepLabel>Share some basics about your place</ng-template>
                    <app-step4 formGroupName="step4"></app-step4>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="regPropForm.controls['step5']">
                    <ng-template matStepLabel>Inform your visitors about the amenities and features available at your
                        location.</ng-template>
                    <app-step5 formGroupName="step5"></app-step5>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="regPropForm.controls['step6']">
                    <ng-template matStepLabel> Add some photos of your staycation/event place</ng-template>
                    <app-step6 formGroupName="step6"></app-step6>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="regPropForm.controls['step7']">
                    <ng-template matStepLabel>Now, let’s give your house a title</ng-template>
                    <app-step7 formGroupName="step7"></app-step7>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="regPropForm.controls['step8']">
                    <ng-template matStepLabel>Let’s describe your house</ng-template>
                    <app-step8 formGroupName="step8"></app-step8>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="regPropForm.controls['step9']">
                    <ng-template matStepLabel>Add discounts</ng-template>
                    <app-step9 formGroupName="step9"></app-step9>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="regPropForm.controls['step10']">
                    <ng-template matStepLabel>Does your place have any of these?</ng-template>
                    <app-step10 formGroupName="step10"></app-step10>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="regPropForm.controls['step11']">
                    <ng-template matStepLabel>Set your price</ng-template>
                    <app-step11 formGroupName="step11"></app-step11>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <section class="important-things-to-know">
                        <div class="title">Important things to know</div>
                        <div class="description">
                            <p>Be sure to comply with your <span>local laws</span> and review TaraGo <span>nondiscrimination
                                    policy</span> and <span>guest and proprietor fees</span>.</p>
                        </div>
                    </section>
                    <div class="nextprev_btn">
                        <button mat-button type="button" matStepperPrevious>Back</button>
                        <button mat-button (click)="regPropFormStepper.reset()">Next</button>
                    </div>
                </mat-step>
            </mat-stepper>
        
        </div>
    </div>
</form>