<div class="register-proprietor-container ">
    <div class="nav-wrapper">
        <app-nav [isAuth]="isAuth"></app-nav>
    </div>
    <div class="header_title" [ngStyle]="{'display': isHiddenintro === true ? 'block' : 'none'}">
        <button (click)="backToGetstarted()">
            <mat-icon>chevron_left</mat-icon>
            <span>Back</span>
        </button>
        <div class="title"> Create Your Listing</div>
    </div>
     <section class="register-proprietor-intro" [ngClass]="{ 'hiddenIntro': isHiddenintro }" [@fadeInAnimation]>
        <div class="register-proprietor-intro-wrapper">
            <div class="girl-image">
                <img src="./assets/images/proprietor-registration/girl.png" alt="logo" draggable="false" />
            </div>
            <div class="content">
                <div class="content-wrapper">
                    <h1>
                        Be a proprietor
                    </h1>
                    <br>
                    <div class="info">
                        <h1 class="info_title">1. Tell us about your place</h1>
                        <p class="subinfo">Share some basic info, like where it is and how many
                            guests can stay.</p>
                        <h1 class="info_title">2. Make it stand out</h1>
                        <p class="subinfo">Add 5 or more photos plus a title and description-
                            we'll help you out.</p>
                        <h1 class="info_title">3. Finish up and publish</h1>
                        <p class="subinfo">Choose if you'd like to start with an experienced
                            guest, set a starting price, and publish your listing.</p>
                    </div>
                    <div class="btn">
                        <button class="main-button" (click)="toggleGetStarted()">Get Started</button>
                    </div>
                </div>
            </div>
        </div>

    </section> 
    <section class="register-proprietor-stepper " #getStarted  [ngStyle]="{'display': isHiddenintro === true ? 'block' : 'none'}"  [@fadeInAnimation]>
        <form class="register-proprietor-stepper-wrapper" (ngSubmit)="handleRegProp(regPropForm)" 
            #regPropFormDir="ngForm" [formGroup]="regPropForm">
            <div class="mat-horizontal-stepper-wrapper">
                <mat-horizontal-stepper [linear]="true" #stepper [labelPosition]="'bottom'" [linear]="isLinear"  
                    #regPropFormStepper>
                    <mat-step [stepControl]="regPropForm.controls['step2']"
                        errorMessage="Please at least one (1) type of place will guest have">
                        <ng-template matStepLabel></ng-template>
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                        <app-step2 formGroupName="step2"></app-step2>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperNext (click)="handleNextStep()">Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="regPropForm.controls['step1']"
                        errorMessage="Please at least one (1) description of your place">
                        <ng-template matStepLabel></ng-template>
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                        <app-step1 formGroupName="step1" [placetype]="regPropForm.get('step2')?.get('placeType')?.value"></app-step1>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="regPropForm.controls['step3']"
                        errorMessage="Please at least one (1) tell the guest where the place is located">
                        <ng-template matStepLabel></ng-template>
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                        <app-step3 formGroupName="step3"></app-step3>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="regPropForm.controls['step4']"
                        errorMessage="Please at least one (1) share some basics about your place">
                        <ng-template matStepLabel></ng-template>
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                        <app-step4 formGroupName="step4"></app-step4>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="regPropForm.controls['step5']"
                        errorMessage="Please at least one (1) inform your visitors about the amenities and features available at your location.">
                        <ng-template matStepLabel></ng-template>
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                        <app-step5 formGroupName="step5"></app-step5>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="regPropForm.controls['step6']"
                        errorMessage="Please at least one (5) photo's of your staycation/event place">
                        <ng-template matStepLabel></ng-template>
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                        <app-step6 formGroupName="step6" (setCover)="handleSetCover($event)"
                            (removeCover)="handleRemoveCover()"></app-step6>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="regPropForm.controls['step7']"
                        errorMessage="Please give your house a title">
                        <ng-template matStepLabel></ng-template>
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                        <app-step7 formGroupName="step7"></app-step7>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="regPropForm.controls['step8']" errorMessage="Please describe your house">
                        <ng-template matStepLabel></ng-template>
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                        <app-step8 formGroupName="step8"></app-step8>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="regPropForm.controls['step9']" errorMessage="Please add discounts">
                        <ng-template matStepLabel></ng-template>
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                        <app-step9 formGroupName="step9"></app-step9>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="regPropForm.controls['step10']" errorMessage="Please choose atleast (1)">
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                        <ng-template matStepLabel></ng-template>
                        <app-step10 formGroupName="step10"></app-step10>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="regPropForm.controls['step11']" errorMessage="Please set your price">
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="submit" matStepperNext>Submit</button>
                        </div>
                        <ng-template matStepLabel></ng-template>
                        <app-step11 formGroupName="step11"></app-step11>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="submit" matStepperNext>Submit</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel></ng-template>
                        <div class="nextprev_btn-top">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" routerLink="/home">Back to Home</button>
                        </div>
                        <section class="important-things-to-know">
                            <div class="title-wrapper">Important things to know</div>
                            <div class="description">
                                <p>Be sure to comply with your <span>local laws</span> and review TaraGo
                                    <span>nondiscrimination
                                        policy</span> and <span>guest and proprietor fees</span>.
                                </p>
                            </div>
                        </section>
                        <div class="nextprev_btn-bottom">
                            <button mat-button type="button" matStepperPrevious>Back</button>
                            <button mat-button type="button" routerLink="/home">Back to Home</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </form>
    </section>
</div>