* {
    box-sizing: border-box;
}

.register-proprietor-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins-Regular;
    width: 100%;
    height: 100vh;
    position: relative;

    .nav-wrapper {
        width: 100%;
        background-color: white;
    }

    .register-proprietor-intro {
        width: 100%;
        height: 100%;
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: auto;



        .custom-exit {
            position: absolute;
            top: 3rem;
            padding-left: 1rem;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            gap: .3;
            text-decoration: underline;
            cursor: pointer;
        }

        &-wrapper {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 1rem;


            .girl_image {
                flex-basis: 50%;
                display: block;
                max-width: 50rem;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .girl_top {
                display: none;
                flex-basis: 50%;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .content {
                flex-basis: 50%;
                padding: 2rem;
                display: grid;
                place-content: center;

                .content-wrapper {

                    h1 {
                        font-family: Poppins-Medium;
                        font-size: clamp(1.5rem, 2vw, 5rem);
                        white-space: nowrap;
                        color: #63AB68;

                    }

                    .info {

                        font-family: Poppins-Regular;
                        font-size: 25px;
                        line-height: 15px;

                        .info_title {
                            font-weight: bold;
                            font-size: clamp(1rem, 1vw, 5rem);
                            color: black;
                        }

                        .subinfo {
                            font-size: clamp(.8rem, .8vw, 5rem);
                        }
                    }

                    .custom_btn_ {
                        background-color: #63AB68;
                        max-width: 10rem;
                        padding: 0.7rem 1rem 0.7rem;
                        border-radius: 5px;
                        text-align: center;
                        color: white;
                        cursor: pointer;
                        margin-top: 3rem;

                        .custom_button {
                            font-weight: 1rem;
                            font-weight: bold;
                            margin: auto;
                        }
                    }

                    .custom_btn_:hover {
                        background-color: black;
                        color: #63AB68;
                    }

                }
            }

        }
    }

    .hiddenIntro {
        display: none;
    }

    .register-proprietor-stepper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Poppins-Regular !important;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        position: relative;

        .header_title {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            gap: 1rem;
            height: 4rem;
            position: sticky;
            top: 0;
            z-index: 5;
            background-color: white;


            button {
                padding-left: 1rem;
                background-color: transparent;
                border: none;
                display: flex !important;
                align-items: center !important;
                gap: .3;
                text-decoration: underline;
                cursor: pointer;
            }


            .title {
                margin-left: 1rem;
                width: fit-content;
                font-weight: bold;
                font-size: clamp(1.5rem, 1.5vw, 8rem);
            }
        }

        &-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            place-content: center;
            margin: 0 !important;
            position: relative;

            .mat-horizontal-stepper-wrapper {
                display: flex;
                flex-direction: column;


                mat-horizontal-stepper {
                    display: flex;
                    flex-direction: column;
                }

                //stepper-header
                .mat-horizontal-stepper-header-container {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    overflow-x: auto;
                    overflow-y: hidden;
                    width: 100%;
                    height: 3.5rem;
                    background-color: white;
                    position: sticky !important;
                    top: 4rem !important;
                    padding: 0 2rem 0;
                    z-index: 5;


                }

                .mat-horizontal-stepper-header {
                    background-color: transparent;
                    border-radius: 100%;
                    width: 18px !important;
                    height: 18px !important;
                    padding: 1rem !important;
                    margin: 0 !important;
                   

                }

                .mat-stepper-horizontal-line {
                    border-top: 1px solid #63AB68 !important;
                    top:0;
                }

                .mat-step-icon-selected {
                    background-color: #63AB68 !important;
                    color: #fff;
                }

                //

                //stepper-content
                .mat-horizontal-content-container {
                    height: 100%;
                    padding-bottom: 5rem !important;


                    .mat-horizontal-stepper-content {
                        position: relative;
                        width: 100%;
                        margin: 0 !important;
                    }


                }




            }


            /* Target the ripple effect within mat-step-header */

            .mat-step-header .mat-ripple-element {
                background-color: #63AB68;

                /* Custom ripple color */
            }


            .mat-step-icon {
                background-color: black;
                position: absolute !important;

                top: 4px;
                animation: stepperAnimation 0.5s ease-in-out;
            }

            .mat-stepper-label {
                display: none !important;
            }

            .nextprev_btn {
                padding-top: 2rem;
                max-width: 50rem;
                margin: auto;
            }

            .mat-stepper-previous {
                color: #63AB68 !important;
                max-width: fit-content;
            }

            .mat-stepper-next {
                color: #63AB68 !important;
                margin: auto;
            }

            .mdc-button {
                color: #63AB68 !important;
                margin: auto;

            }

            @keyframes stepperAnimation {
                0% {
                    transform: scale(0.8);
                    opacity: 0.5;
                }

                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }



        }

        .nextprev_btn-bottom {
            padding: 1rem;
            // border: 1px solid black;
            display: grid;
            grid-template-columns: auto auto;
            /* Adjust as needed */
            grid-gap: 2rem;
            /* Adjust as needed */
            place-content: center;
            place-items: center;


            button {
                color: #68A86A;
                // border: 1px solid black;
            }
        }

        .nextprev_btn-top {
            display: none;
        }

        .important-things-to-know {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem 5rem 1rem;
            max-width: 45rem;
            height: 12rem;
            margin: auto;
            margin-top: 3rem;
            border-radius: 20px;
            box-shadow: 1px 1px 5px #88888877;
            background-color: white;
            font-weight: bold;
            font-size: clamp(1.3rem, 1.5vw, 8rem);
            text-align: center;

            .title-wrapper {
                font-weight: bold;
                font-size: clamp(1.3rem, 1.5vw, 8rem);
                padding: 1rem 0 1rem;
                text-align: center;
                // border:1px solid black;
            }


            .description {
                font-weight: normal;
                // border:1px solid black;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                width: 100%;
                margin: auto;

                p {
                    margin: 0;
                    padding: 0;
                    font-size: 15px;

                    span {
                        cursor: pointer;
                        color: #63AB68;
                    }
                }
            }
        }


    }
}

@media only screen and (max-width: 860px) {
    .register-proprietor-container {
        .register-proprietor-intro {
            .custom-exit {
                top: 1rem;
            }

            &-wrapper {
                flex: none;
                display: flex;
                flex-direction: column-reverse;

                .girl_image {
                    display: none;
                }

                .girl_top {
                    display: block;
                    max-width: 60%;
                    margin: auto;
                }



                .content {
                    flex-basis: 100%;
                    padding: 2rem;
                    display: grid;
                    place-content: center;


                    .content-wrapper {
                        background-color: white;
                        margin-top: 2rem;
                        padding: 1rem;
                        border-radius: 10px;
                        box-shadow: 1px 1px 5px #88888877;
                        text-align: center;

                        h1 {
                            font-weight: bold;

                        }

                        .custom_btn_ {
                            margin: auto;
                            margin-top: 3rem;

                            .custom_button {}
                        }
                    }
                }
            }
        }

        .register-proprietor-stepper {
            .header_title {
                margin-top: 1rem;
                margin-bottom: 1rem;
                flex-direction: column;

                .btn {
                    width: 100%;

                }

                .title {
                    text-align: center;
                    width: 100%;
                    margin: auto;
                }
            }

        }
    }
}

@media only screen and (max-width: 600px) {
    .register-proprietor-container {
        .register-proprietor-stepper {
            &-wrapper {
                .mat-horizontal-stepper-wrapper {
                    .mat-horizontal-content-container {
                        padding: 0 !important;

                    }

                    .mat-horizontal-stepper-content {}

                    .mat-horizontal-stepper-header-container {
                        overflow-x: auto;
                        overflow-y: hidden;
                        padding-left: 1rem;
                        margin-right: 0;
                    }

                    .mat-horizontal-stepper-header {
                        min-width: auto;
                        margin-right: 1.1rem !important;
                    }
                }
            }

            .important-things-to-know {
                display: grid;
                place-content: center;
                height: 100%;
                margin-top: 0;
                border-radius: 0;
                max-width: 100%;
                padding: 1rem 1rem 1rem;

            }

            .nextprev_btn-bottom {
                display: none;

                button {
                    color: #68A86A;
                    // border: 1px solid black;
                }
            }

            .nextprev_btn-top {
                margin-top: 0;
                padding: 1rem;
                display: grid;
                grid-template-columns: auto auto;
                /* Adjust as needed */
                grid-gap: 2rem;
                /* Adjust as needed */
                place-content: center;
                place-items: center;
            }

        }
    }
}