<form [formGroup]="reviewForm" (ngSubmit)="onSubmit(reviewForm)">
  <div class="rateandcomment_modal">
    <div class="header">
      <div class="title">Review and rate this listing</div>
      <div class="close-button-normal" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </div>
    </div>

    <hr />
    <div class="rateandcomment_modal-content">
      <div class="review-rate-container">
        <h2>Rate your stay at Juan Dela Cruz's place</h2>

        <!-- Star Rating System using mat-icon -->
        <div class="star-rating-container">
          <div class="star-rating">
            <span
              *ngFor="let star of stars; let i = index"
              (click)="rate(i + 1)"
              (mouseover)="hoverRating(i + 1)"
              (mouseleave)="hoverRating(0)"
            >
              <mat-icon> {{ i < rating ? "star" : "star_border" }} </mat-icon>
            </span>
          </div>
          <app-input-error-message
            [form]="reviewForm"
            [errors]="ratingErrors"
          />
        </div>

        <h3>
          You have just checked out of
          <span class="host_name">{{ data.host?.name }}'s</span> place. Please
          take a moment to reflect on your stay and leave a brief review.
        </h3>
        <div class="textarea-container">
          <textarea
            [readOnly]="isLoading"
            formControlName="desc"
            placeholder="Write your public comments here..."
            [(ngModel)]="publicComments"
          ></textarea>
          <app-input-error-message [form]="reviewForm" [errors]="descErrors" />
        </div>
      </div>
    </div>
    <div class="footer">
      <button [disabled]="isLoading" type="submit" class="main-button">
        <span *ngIf="!isLoading">Submit <mat-icon> rate_review</mat-icon></span>
        <span *ngIf="isLoading"><mat-spinner [diameter]="15" /></span>
      </button>
    </div>
  </div>
</form>
