.userscontrol-container {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem;

    &-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        padding: 0 1rem 0;

        .users_account_menu_wrapper {
            display: flex;
            gap: 1rem;
            align-items: center;

            .custom_users_account {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 1rem;
                background-color: black;
                box-shadow: 1px 1px 5px #88888877;
                padding: 1px 10px 1px;
                border-radius: 5px !important;
            


                .menu {
                    cursor: pointer;
                    padding: 10px 1rem 10px;
                    width: 100vw;
                    max-width: 11rem;
                    color: #68A968 !important;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    font-family: Poppins-Regular;
                    font-weight: bold;
                    font-size: .9rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    mat-icon {
                        display: flex;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        justify-content: center;
                    }

                    .select {
                        flex: 1;
                    }


                }

                .menu_btn {
                    
                }
             



            }

        }



        &-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            // border:1px solid black;
        }
    }
}


//Select Options Start


//Select Options End