<div class="userscontrol-container mat-elevation-z3">
    <div class="userscontrol-container-wrapper">


        <div class="users_account_menu_wrapper ">
            <div class="tab-header">
                <div class="tab-wrapper">
                    <button class="custom-btn" [ngClass]="{'active': selectedTab === 'admin'}"
                        (click)="gotoNavigatePage('Admin','admin')">Admin</button>
                    <button class="custom-btn" [ngClass]="{'active': selectedTab === 'guest'}"
                        (click)="gotoNavigatePage('Guest','guest')">Guest</button>
                    <button class="custom-btn" [ngClass]="{'active': selectedTab === 'proprietor'}"
                        (click)="gotoNavigatePage('Proprietor','proprietor')">Proprietor</button>
                </div>
            </div>
        </div>
        <div class="userscontrol-container-wrapper-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>