.footer-container {
    
    height: 100%;

    &-wrapper-1 {
        background-color: black;
        height: 100%;



        .footer-text-links {
            flex: 1 !important;
            color: white;
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
            height: 25rem;
            display: flex;
            flex-direction: row;
            gap:1rem;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            .footer-text {
                width: 50%;

                .image {
                    max-width: 25rem;
                    width: 100%;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .footer-links {
                font-family: Poppins-Regular;
                width: 50%;

                .footer-links-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .company {
                        width: fit-content;
                        font-size: 12px;
                        line-height: 2rem;

                        h1 {
                            font-size: 14px;
                            font-weight: bold;
                        }

                        a{
                            text-decoration: none;
                            color: white;
                        }
                    }
                }

            }
        }
    }

    &-wrapper-2 {
        height: 100%;
        padding-bottom: 1rem;
        
        .wrapper-2-wrapper {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
          
            gap:1rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;

       

            .image {
                width: 5rem;
                margin-top: 1rem;
                img {
                    width: 100%;
                    height: auto;
                }
            }


            .footer-other-info {
                width: 100%;
                display: flex;

                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                width: 100%;
                height: 100%;
                font-family: Poppins-Regular;
                font-size: 12px;

          

                .terms_links{
                    width: fit-content;
                   display: flex;   
                   align-items: center;
                   justify-content: space-between;
                   gap: 1rem;

                   .taragoLink{
                    color: black;
                    cursor: pointer;

                    a{
                        text-decoration: none;
                        color: black;
                    }
                   }
                }
            }

            .footer-social-media {
                width: fit-content;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 2rem;

                .social {
                    max-width: 1rem;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .custom-yt{
                        width:20px;
                    }
                }
                
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .footer-container {

        &-wrapper-1 {
            .footer-text-links {
                max-width: 100%;
                padding: 0 2rem 0;
            }
        }

        &-wrapper-2 {
         
    
            .wrapper-2-wrapper {
                max-width: 90%;
    
                .footer-other-info {
   
    
                    .image {
                 
    
                        img {
                           
                        }
                    }
                }
    
                .footer-social-media {
               
    
                    .social {
                     
    
                        img {
                           
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {

    .footer-container {

        &-wrapper-1 {
            .footer-text-links {
                max-width: 100%;
                padding: 0 2rem 0;
                flex-wrap: wrap;
                width: 100%;
                gap: 1rem;
                justify-content: space-around;

                .footer-text {
                    flex-basis: 100%;

                    .image {
                        margin: auto;
                        max-width: 25rem;
                        width: 100%;

                        img {
                            width: 100%;
                            height: auto;

                        }
                    }
                }

                .footer-links {
                    flex-basis: 100%;

                    .footer-links-wrapper {
                        // grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
        }


    }
}
@media screen and (max-width: 700px){
    .footer-container {
    &-wrapper-2 {
         
    
        .wrapper-2-wrapper {
            max-width: 90%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    

            .footer-other-info {               
                flex-direction: column;
              
                .terms_links{
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                }
            }

            .footer-social-media {
           

                .social {
                 

                    img {
                       
                    }
                }
            }
        }
    }
}
}



@media screen and (max-width: 500px) {
    
    .footer-container {
   
        &-wrapper-1 {
            
            .footer-text-links {
                
                height:100%;
                flex-direction: column !important;
                
                .footer-text {
                    width: 100%;
                    .image {
                        img {}
                    }
                }

                .footer-links {
                    width: 100%;
                    flex: 1;
                    height: 100%;

                    .footer-links-wrapper {
                        padding-bottom: 2rem;
                        display: grid;
                        grid-template-columns:50% 50%;
                        place-content: center;
                        place-items: center;
                        gap: 1rem;
                        .company {

                            h1 {}
                        }
                    }

                }
            }
        }

        &-wrapper-2 {
         
    
            .wrapper-2-wrapper {
                max-width: 100%;
            }
        }
        
    }
}