<div class="footer-container" id="footer">
    <section class="footer-container-wrapper-1">
        <div class="footer-text-links">
            <div class="footer-text">
                <div class="image">
                    <img src="./assets/images/home/footer/footerlogotext.png" alt="logo" />
                </div>
            </div>
            <div class="footer-links">
                <div class="footer-links-wrapper">
                <div class="company">
                    <h1>Company</h1>
                    <div>Home</div>
                    <div>How to book?</div>
                    <div>Contact Us</div>
                    <div>About Us</div>
                </div>
                <div class="company">
                    <h1>Staycation</h1>
                    <div>Condominium</div>
                    <div>Villa</div>
                    <div>Resort</div>
                    <div>Guest Room</div>
                </div>
                <div class="company">
                    <h1>Event Place</h1>
                    <div>Meeting rooms</div>
                    <div>Event hall</div>
                    <div>Arena</div>
                    <div>Pavillion</div>
                </div>
                  <div class="company">
                      <h1>Contact Info</h1>
                      <div>Address</div>
                      <div>Phone Number</div>
                      <div>Telephone Number</div>
                      <div>Email</div>
                  </div>
                </div>
            </div>
        </div>
        <div class="footer-details">
 
        </div>
    </section>
    <section class="footer-container-wrapper-2">
        <div class="wrapper-2-wrapper">
        <div class="footer-other-info">
            <div class="image">
                <img src="./assets/images/home/section2/taragologo.png" alt="logo"/>
            </div>
            <div>&copy; {{ currentDate.getFullYear() }}</div>
            <div>Privacy</div>
            <div>Terms</div>
            <div>Sitemap</div>
            <div>Company Details</div>
        </div>

        <div class="footer-social-media">
             <div class="social">
                <img src="./assets/images/home/footer/fb.png" alt="fb"/>
             </div>
             <div  class="social">
                <img src="./assets/images/home/footer/ig.png" alt="ig"/>
             </div>
             <div  class="social">
                <img src="./assets/images/home/footer/xtwitter.png" alt="xtwitter"/>
             </div>
        </div>
    </div>
    </section>
</div>