<div class="locations-modal">
   <div class="locations-modal-locations-wrapper-modal">
    <div class="location-header-wrapper">
      <div class="location-title">Add Guest</div>
      <div class="close-button-normal close" (click)="closeDialogLocation()">
        <mat-icon aria-hidden="false" aria-label="close" fontIcon="close"></mat-icon>
      </div>
  </div>
    <div class="search-wrapper">
      <div class="inputs">
          <input type="text" class="search-input" placeholder="Search...">
          <button class="search-button">
            <mat-icon aria-hidden="false" aria-label="search" fontIcon="search"></mat-icon>
          </button>
      </div>
      <div class="address-list">
          <div class="address-list-item">Address 1</div>
          <div class="address-list-item">Address 2</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
          <div class="address-list-item">Address 3</div>
      </div>
  </div>
   </div>
</div>