.your-trips-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow-y: auto;
    

    .property-title {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
     


        .title-wrapper {
            display: flex;
            align-items: center;
            padding: 0 1rem 0;
            padding-left: 0;
            font-weight: bold;
            font-size: clamp(1.5rem, 1.5vw, 8rem);

            .title {
                font-weight: bold;
                font-size: clamp(1.5rem, 1.5vw, 8rem);
            }

        }


        .filter_search {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0 .5rem 0;
            gap: 1rem;

            .filter-option {


                button {
                    background-color: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    gap: .3;
                    text-decoration: underline;
                    cursor: pointer;
                    background-color: #68A968;
                    border-radius: 20px;
                    padding: 0 1rem 0;
                    display: flex;
                    gap: 5px;
                    color: white !important;
                    text-decoration: none;
                }

                mat-icon {
                    margin: 0;
                    padding: 0;
                }

            }

            .search {
                display: flex;
                width: 100%;
                max-width: 20rem;
                min-width: 15rem;
                padding: .5rem 1rem .5rem;
                border: 1px solid rgb(190, 190, 190);
                border-radius: 10px;

                input {
                    width: 100%;
                    border: none;
                    outline: none;

                }

                mat-icon {
                    color: #63AB68;
                }
            }
        }
    }
    .filter_cat {
        font-size: clamp(.8rem, 1vw, 8rem);
        font-weight: bold;
        text-align: left;
        color: #63AB68;
        margin-top: 1rem;
    }

    .custom-tabs {
        display: flex;
        overflow-x: auto;
        padding: 1rem 0 0
      
      }
  
      .tab {
        padding: 10px 20px;
        cursor: pointer;
  
        white-space: pre;
        // border: 1px solid #ccc;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        margin-right: 10px;
      }
  
      .tab.active {
        font-weight: bold;
        color: #63AB68;
      }
  
      .tab:hover {
        font-weight: bold;
        color: #63AB68;
      }
  
      .tab-content {
        // border: 1px solid #ccc;
        border-radius: 0 0 5px 5px;
        // padding: 20px;
  
      }
  
      .animated-border {
        border-bottom: none;
        /* Remove default border */
        position: relative;
        /* Required for pseudo-element positioning */
        cursor: pointer;
        /* Optional for hover effect */
  
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          /* Adjust border thickness here */
          background-color: #63AB68;
          /* Adjust border color */
          position: absolute;
          bottom: 0;
          left: 0;
          transition: width 0.3s ease-in-out;
        }
  
        &:hover::after,
        &.active::after {
          /* Target both active and hover states */
          width: 100%;
          /* Animate width to full width */
        }
      }
    .content {
        max-width: 93%;

        overflow-y: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        height: 100%;

        .custom-not_found {
            flex: 1;
            text-align: center;
            display: grid;
            place-content: center;
            height: 100vh;
          
          
    
    
            .title {
                font-size: calc(1.2em + .2vw);
                font-weight: bold;
                margin: .5rem;
            }
    
            .subtitle {
                font-size: calc(.8em + .2vw);
            }
    
            .btn {
                width: 100%;
                display: grid;
                place-content: center;
                margin-top: 1rem;
            }
        }
    }

  
}

@media only screen and (max-width: 780px) {
    .your-trips-container {

        .content {
            .content_wrapper {
                .card {
                    max-width: 13rem;

                    .status {}

                    .content__card {
                        .info {
                            .title {}

                            .description {}

                            .permonth {}
                        }

                    }

                    .image {
                        max-width: 13rem;

                        img {
                            max-width: 13rem;
                        }

                        .close-button {}

                    }



                }

                .trip_card_wrapper {
                    place-items: center;
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                    gap: auto;
                }

            }
        }
    }

}

@media only screen and (max-width: 550px) {
    .your-trips-container {

        .content {
            .content_wrapper {
                .card {
                    max-width: 10rem;
                    grid-template-rows: 10rem auto;

                    .status {}

                    .content__card {
                        .info {
                            .title {}

                            .description {}

                            .permonth {}
                        }

                    }

                    .image {
                        img {
                            max-width: 10rem;
                            max-height: 12rem;
                        }

                        .close-button {}

                    }

                }

                .trip_card_wrapper {
                    place-items: center;
                    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
                    gap: auto;
                    overflow-x: hidden;
                }

            }
        }
    }

}

// @media only screen and (max-width: 400px) {
//     .your-trips-container {
//         .property-title {
//             .filter_search {
//                 display: flex;
//                 flex-direction: column;

//                 .filter-option {}
//             }
//         }
//     }
// }