<section class="your-trips-container">
    <div class="property-title header">
        <div class="title-wrapper">
            <div class="title">Your Trips</div>
        </div>
    </div>

    <div class="custom-tabs">
        <div class="tab animated-border" [ngClass]="{'active': isActive('pending-trip')}"
            (click)="selectTab('pending-trip')">
            Pending Trips
        </div>
        <div class="tab animated-border" [ngClass]="{'active': isActive('upcoming-trip')}"
            (click)="selectTab('upcoming-trip')">
            Upcoming Trips
        </div>
        <div class="tab animated-border" [ngClass]="{'active': isActive('in-progress-trip')}"
            (click)="selectTab('in-progress-trip')">
            In Progress
        </div>
        <div class="tab animated-border" [ngClass]="{'active': isActive('completed-trip')}"
            (click)="selectTab('completed-trip')">
            Completed Trips
        </div>
        <div class="tab animated-border" [ngClass]="{'active': isActive('cancelled-trip')}"
            (click)="selectTab('cancelled-trip')">
            Cancelled Trips
        </div>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <!-- <div class="footer">
        <app-footer></app-footer>
    </div> -->
</section>