<section class="your-trips-container">
    <div>
        <button main-button 
        (click)="addNewItem(
              '../assets/images/main/staycation-details/gallery1.png',
              'This is new booking',
              'Condominium',
               1000,
              'Pending',
              '2024-12-1'
        )">Sample Push Data Here</button>
    </div>
    <div class="property-title">
        <div class="title-wrapper">
            <div class="title">Your Trips</div>
        </div>
    
        <div class="filter_search">
            <div class="search">
                <input 
                type="text" 
                placeholder="Search..." 
                [(ngModel)]="searchInputs" 
                (input)="filterItems(searchInputs)"
              >
                <mat-icon>search</mat-icon>
            </div>
            <div class="filter-option">
                <button mat-button [matMenuTriggerFor]="menu">
                    Filter <span><mat-icon>keyboard_arrow_down</mat-icon></span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="filterItems('')">All</button>
                    <button mat-menu-item (click)="filterItems('Upcoming Trips')">Upcoming Trips</button>
                    <button mat-menu-item (click)="filterItems('Past Trips')">Past Trips</button>
                    <button mat-menu-item (click)="filterItems('Disapproved')">Disapproved</button>
                    <button mat-menu-item (click)="filterItems('Pending')">Pending</button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="filter_cat" *ngIf="filter_cat !==''">
        {{ filter_cat}}
  </div>
    <div class="content">
        <div class="content_wrapper" *ngFor="let date of categorizedData | keyvalue:sortByDate">
            <h2>{{ date.key | date:'fullDate' }}</h2>
            <div><hr></div>
            <div class="trip_card_wrapper">
                <div class="trip_card" *ngFor="let item of date.value; let i = index">
                    <div class=" card stacked">
                        <div class="status">
                            <div>{{item.status}}</div>
                        </div>
                        <div class="image">
                            <img src="{{item.image}}" alt="image" loading="lazy" draggable="false" />
                            <button class="close-button" (click)="removeTrip(item._id,item.title)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <div class="content__card">
                            <div class="info">
                                <div class="title">{{item.title}} </div>
                                <div class="description">{{item.description}}</div>
                                <div class="permonth">
                                    <div>₱&nbsp;{{item.permonth}} monthly</div>
                                    <div></div>
                                </div>
                            </div>
                        </div>

                    </div>
                  
                </div>
            </div>
            <div class="not-found custom-not_found" *ngIf="notFound">
                <div>No trips found!</div>
            </div>
            <div class="custom-not_found" *ngIf="yourTrips.length === 0">
                <div class="title">
                    No trips booked...yet!
                </div>
                <div class="subtitle">
                    Time to dust off your bags and start planning your next adventure.
                </div>
                <div class="btn ">
                    <button class="main-button" (click)="goToSearchList()">Start Searching</button>
                </div>
            </div>
        </div>
       
    </div>
</section>