.calendar-container {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 1rem;
    margin: 2rem 0 2rem;
    height: 100%;
    position: relative;

    &-calendar-side-info {
        flex-basis: 20%;
    }

    &-calendar-wrapper {
        flex-basis: 78%;
        full-calendar{
            position: sticky;
            top:1rem;
        }
    } 
}