<div class="calendar-container">
    <div class="calendar-container-calendar-side-info">
        <section class="content-tab">
            <mat-tab-group>
               <mat-tab label="Price">
                   <app-price></app-price>
               </mat-tab>
               <mat-tab label="Availability"> 
                  <app-availability></app-availability>
               </mat-tab>
             </mat-tab-group>
    </section>
    </div>
    <div class="calendar-container-calendar-wrapper">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>