<div class="learn-info">
    <div class="header">
        <div class="title">
            Cancellation Policy
        </div>
        <div class="close-button-normal" (click)="closeDialogInfo()"><mat-icon>close</mat-icon></div>
    </div>
    <hr>
    <div class="learn-info-wrapper">
        <div class="wrapper">
            <div class="title">Within</div>
            <div class="subtitle">
                48 hours of booking
            </div>
            <hr>
            <div class="title">Full refund</div>
            <div class="subtitle">
                Get back 100% of what you paid.
            </div>
        </div>
        <div class="wrapper">
            <div class="title">Before</div>
            <div class="subtitle">
                Aug 14 3:00 PM
            </div>
            <hr>
            <div class="title">Partial refund</div>
            <div class="subtitle">
                Get back 50% of every night. No refund of the service fee.
            </div>
        </div>
        <div class="wrapper">
            <div class="title">After</div>
            <div class="subtitle">
                Aug 14 3:00 PM
            </div>
            <hr>
            <div class="title">No refund</div>
            <div class="subtitle">
                Get back 100% of what you paid.
            </div>
        </div>
    </div>
</div>