<section class="cancellation-policy">
    <div class="_title_wrapper">
        Cancellation Policy
    </div>
    <div class="cancellation-policy-wrapper">
        <!-- Standard Policy -->
        <div class="_label">
            <div class="_title_label">Refundable</div>
            Standard Policy
            <div class="_subinfo">
                Applies to any stays under 28 nights
            </div>
            <span (click)="openNonStandardLearnmore()">Learnmore</span>
        </div>
        <div class="radio_button_container" *ngFor="let cancellPolicy of standardData; let i = index">
            <div class="radio-button-wrapper"  (click)="selectPolicyShort(i)">
                <div class="info_wrapper">
                    <div class="info_title">{{cancellPolicy.cancellTitle}}</div>
                    <div class="_info">
                        {{cancellPolicy.cancellDesc}}
                    </div>
                </div>
                <div class="radio_button_input">
                    <input type="radio"  [ngClass]="{'checked': isSelectedShort === i }" [value]="" disabled />
                </div>
            </div>
        </div>
        <!-- Long-term Stay Policy -->
        <div class="_label">
            Long-term Stay Policy
            <div class="_subinfo">
                Applies to any stays under 28 nights
            </div>
            <span (click)="openLongTermLearnmore()">Learnmore</span>
        </div>
        <div class="radio_button_container" *ngFor="let cancellPolicy of longtermData; let i = index">
            <div class="radio-button-wrapper" (click)="selectPolicyLong(i)">
                <div class="info_wrapper">
                    <div class="info_title">{{cancellPolicy.cancellTitle}}</div>
                    <div class="_info">
                        {{cancellPolicy.cancellDesc}}
                    </div>
                </div>
                <div class="radio_button_input">
                    <input type="radio" [ngClass]="{'checked': isSelectedLong === i  }" [value]="" readonly disabled />
                </div>
            </div>
        
        </div>
        <div>
            <hr style="border: 0; height: 1px; background-color: #cacaca;">
        </div>
           <!-- Non-Refundable -->
           <div class="_title_label">
            Non-Refundable
            <div class="switch_button_container">
                <div class="switch_button_wrapper">
                    <div class="info_wrapper">
                        <div class="_info">
                            In addition to a flexible option, offer a non-refundable option where guests pay 10% less,
                            but you keep your payout regardless of when they cancel.<span
                                (click)="openNonRefundLearnmore()">Learn more</span>
                        </div>
                    </div>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div>
            <hr style="border: 0; height: 1px; background-color: #cacaca;">
        </div>
    </div>