<div class="learn-info">
    <div class="header">
        <div class="title">
            Standard Policy
        </div>
        <div class="close-button-normal" (click)="closeDialogInfo()"><mat-icon>close</mat-icon></div>
    </div>
    <hr>
    <div class="learn-info-wrapper">
        <div class="wrapper">
            <h1>Standard cancellation policies for shorter stays</h1>
            <p>Your standard cancellation policy applies to all reservations of 27 or fewer consecutive nights. You can choose one of the following standard cancellation policies:</p>
            
            <h3>Flexible</h3>
            <p>Guests can cancel until 24 hours before check-in for a full refund, and you won’t be paid
            If they cancel after that, you’ll be paid for each night they stay, plus one additional night.</p>
            <h3>Moderate</h3>
            <p> Guests can cancel until 5 days before check-in for a full refund, and you won’t be paid
            If they cancel after that, you’ll be paid for each night they stay, plus one additional night, plus 50% for all unspent nights</p>
            <h3>Firm</h3>
            <p>  To receive a full refund, guests must cancel at least 30 days before check-in
            If they cancel between 7 and 30 days before check-in, you’ll be paid 50% for all nights
            If they cancel less than 7 days before check-in, you’ll be paid 100% for all nights
            Guests can also receive a full refund if they cancel within 48 hours of booking, if the cancellation occurs at least 14 days before check-in</p>
            <h3>Strict</h3>
            <p> To receive a full refund, guests must cancel within 48 hours of booking, and the cancellation must occur at least 14 days before check-in
            If they cancel 14 or more days before check-in but not within 48 hours of booking, you’ll be paid 50% for all nights
            If they cancel between 7 and 14 days before check-in, you’ll be paid 50% for all nights
            If they cancel after that, you’ll be paid 100% for all nights</p>
        </div>

    </div>
</div>