<div class="email_address_container">
  <div class="header">
    <div class="title_wrapper">
      <div class="info_title">Email address</div>
      <div class="sub_title">Use an address you’ll always have access to.</div>
    </div>
    <div class="close-button-normal" (click)="closeDialog()">
      <mat-icon style="margin-top: 3px">close</mat-icon>
    </div>
  </div>
  <div class="content">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm)">
      <div class="input-wrapper">
        <div class="label">Email Address</div>
        <input
          type="text"
          name="email"
          placeholder="Enter your email address name"
          formControlName="email"
          required
        />
        <ng-container *ngIf="util.isFormInputValid(updateForm, 'email')">
          <app-input-error-message [form]="updateForm" [errors]="emailErrors" />
        </ng-container>
      </div>
      <div class="_btn">
        <button class="main-button">Save</button>
      </div>
    </form>
  </div>
</div>
