<div class="learn-info">
    <div class="header">
        <div class="title">
           Non-Refundable
        </div>
        <div class="close-button-normal" (click)="closeDialogInfo()"><mat-icon>close</mat-icon></div>
    </div>
    <hr>
    <div class="learn-info-wrapper">
        <div class="wrapper">
            <h1>Offer a non-refundable option</h1>
           <p> A non-refundable option is a discount you can offer on top of other discounts and cancellation policies that gives you greater protection against cancellations.</p>
            
            <h3>How they work</h3>
            <p>You set your discount, which is typically 10% off the base price in everywhere but China
            Your discounted rate appears in search
            At checkout, guests either select your standard rate—subject to your cancellation policy—or the discounted, non-refundable rate
            If they cancel, you keep your entire payout for all nights booked, minus the cleaning fee if they cancel before check-in
            A reservation would be eligible if the check-out date is within 60 days
            The discount is applicable if the reservation is not booked with a pre-approval or special offer</p>
        </div>

    </div>
</div>