<div class="locations-modal">
    <div class="locations-modal-locations-wrapper-modal">
     <div class="location-header-wrapper">
       <div class="title">Search Location</div>
       <div class="close-button-normal close" (click)="closeDialogLocation(loc)">
         <mat-icon aria-hidden="false" aria-label="close" fontIcon="close"></mat-icon>
       </div>
   </div>
     <div class="search-wrapper">
       <div class="inputs">
        <input type="text" matInput class="search-input" [formControl]="loc" placeholder="Search..." [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let rec of recentSearches$ | async" [value]="rec">{{ rec }}</mat-option>
        </mat-autocomplete>
        <button (click)="closeDialogLocation(loc)">
          <mat-icon aria-hidden="false" aria-label="search" fontIcon="search"></mat-icon>
        </button>
       </div>
       <!-- <div class="address-list">
           <div class="address-list-item" *ngFor="let search of recentSearches">{{ search }}</div>
       </div> -->
   </div>
    </div>
 </div>