<div class="locations-modal">
    <div class="locations-modal-locations-wrapper-modal">
     <div class="location-header-wrapper">
       <div class="title">Search Location</div>
       <div class="close-button-normal close" (click)="closeDialogLocation()">
         <mat-icon aria-hidden="false" aria-label="close" fontIcon="close"></mat-icon>
       </div>
   </div>
     <div class="search-wrapper">
       <div class="inputs">
           <input type="text" class="search-input" placeholder="Search...">
           <button>
             <mat-icon aria-hidden="false" aria-label="search" fontIcon="search"></mat-icon>
           </button>
       </div>
       <div class="address-list">
           <div class="address-list-item">1201 Rizal Avenue Extension 1000,Manila</div>
           <div class="address-list-item">Brgy. Pallocan Kanluran,Batangas City</div>
           <div class="address-list-item">2532 Rizal Avenue 1000, Manila</div>
           <div class="address-list-item">A And M Building, 308 Dansalan Street, Metro Manila</div>
           <div class="address-list-item">17 P. Gregorio Street, Metro Manila</div>
           <div class="address-list-item">1201 Rizal Avenue Extension 1000,Manila</div>
           <div class="address-list-item">Brgy. Pallocan Kanluran,Batangas City</div>
           <div class="address-list-item">2532 Rizal Avenue 1000, Manila</div>
           <div class="address-list-item">A And M Building, 308 Dansalan Street, Metro Manila</div>
           <div class="address-list-item">17 P. Gregorio Street, Metro Manila</div>
       </div>
   </div>
    </div>
 </div>