<div class="view-image-container">
  <div class="header">
    <div class="closeBtn" (click)="closeBedView()">
      <mat-icon aria-hidden="false" aria-label="close" fontIcon="close"></mat-icon>
    </div>
  </div>
  <div class="content">
    <div class="wrapper">
      <!-- <div class="info_wrapper">
        <div class="label">{{viewImageBed.bedImage.label}} </div>
        <div class="desc">{{viewImageBed.bedImage.description}} </div>
      </div> -->
      <div class="img_wrapper">
        <img src={{viewImageBed.bedImages.images}} alt="" loading="lazy" draggable="false" />
      </div> 
    </div>
  </div>
</div>