<div class="learn-info">
    <div class="header">
        <div class="title">
            Discounts
        </div>
        <div class="close-button-normal" (click)="closeDialogInfo()"><mat-icon>close</mat-icon></div>
    </div>
    <hr>
    <div class="learn-info-wrapper">
        <div class="wrapper">
            <p>You choose your discount, and you can change it at any time.</p>
            <p> Suggested discounts are based on the average for listings with discounts in your area (or the global
                average if not enough listings with discounts are in your area). Weekly discounts are for stays of 7
                nights or more. Monthly discounts are for stays of 28 nights or more.</p>
            <p>Visit the Discounts section of our Help Center to learn more.</p>
        </div>

    </div>
</div>