*,
*::before,
*::after {
    box-sizing: border-box;
}

.staycation-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:1rem;
    font-family: Poppins-Regular;

    &-staycation-wrapper {
        width: 100%;

        .category-home-button {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 1rem;
            margin-right: auto;
            margin-left: auto;
            height: fit-content;
            width: 100%;


            .category-wrapper {
                display: flex;
            }


            button {
                box-shadow: 1px 1px 3px #88888877;
                display: flex;
                align-items: center;
                gap: .3rem;
                width: fit-content;

                font-size: 15px;
                font-weight: bold;
                padding: 10px 20px 10px 20px;
                border: none;
                cursor: pointer;
                background-color: rgb(226, 226, 226);
                border: .2px solid rgb(236, 236, 236);
                border-radius: 1.5rem;


                img {
                    width: 1rem;
                    height: auto;

                }

            }


            .tarago-home {
                border-radius: 1.5rem;
                background-color: white;
            }

            .tarago-staycations {
                border-radius: 1.5rem 0rem 0 1.5rem;
                background-color: white;
            }

            .tarago-eventplace {
                border-radius: 0rem 1.5rem 1.5rem 0rem;
                background-color: white;
            }


        }

        .categories {
            position: relative;
            height: 4rem;
            margin-top: 1.5rem;
 
          
            .staycations,.eventplace  {
           
                box-shadow: 2px 2px 5px #88888877;
                font-size: clamp(10px, 1.5vw, 15px);
                font-weight: bold;
                // border: 1px solid black;
                height: 4rem;

                .categories-btn {
                    cursor: pointer;
                    background-color: white;
                    border-bottom: 2px solid #ffffff00;
                    // border: 1px solid black;
                    height: 4rem;
                    display: flex;
                    align-items: center;

                    .wrap {
                        width:100%;
                        display: flex;
                        align-items:center;
                        justify-content: center;
                        justify-content: center;
                        gap: 1rem;
                        height: 100%;
                        // border: 1px solid black;


                        img {
                            max-width: 2rem;
                            width: 100%;
                            height: auto;

                        }

                    }
                }

                .categories-btn:hover {

                    color: black;

                    img {
                        color: white;
                    }
                }


            }

       


        }

        .search-filters-container {
            margin-right: auto;
            margin-left: auto;
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            width: 100%;
            height: fit-content;


            &-layer-2-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                height: fit-content;
                gap: 1%;


                .location,
                .card {
                    width: 100%;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: white;
                    box-shadow: 1px 1px 5px #88888877;
                    border-radius: 5px;
                    padding: 8px;
                    cursor: pointer;

                    .location-wrapper {
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        gap: .5rem;

                        mat-icon {
                            color: #68A968;
                            flex: none;
                        }

                        input {
                            width: 100%;
                            outline: none;
                            border: none;
                            color: #797979;
                            cursor: pointer;
                            text-align: center;
                            text-overflow: ellipsis;
                        }
                    }

                }

                .checkin-out-style,
                .card {
                    width: 100%;
                    font-size: 14px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                    background-color: white;
                    box-shadow: 1px 1px 5px #88888877;
                    padding: 8px;
                    border-radius: 5px;



                    input {
                        width: 100% !important;
                        // -webkit-appearance: none;
                        //  -moz-appearance: none;
                        // appearance: none;
                        padding: 0.5rem .5rem;
                        border: 1px solid rgb(224, 224, 224);
                        // border: none;
                        outline: none;
                        border-radius: 5px;
                        background-color: #fff;
                        color: #797979;
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        text-overflow: ellipsis;


                    }

                    /* Custom style for the dropdown arrow */
                    input::-webkit-calendar-picker-indicator {
                        cursor: pointer;
                        background-color: transparent;
                        background-image: url('../../../assets/images/search-filters/v-icon.png'); // Replace with your pin icon
                        /* You can use background-image here to add a custom image */
                    }

                    /* Custom style for the datepicker popup (Chrome, Safari) */
                    input::-webkit-calendar-picker-popup {
                        /* Add your custom styles for the popup */
                        background-color: #68A968 !important;
                        color: #68A968 !important;

                    }

                    /* Custom style for the datepicker popup (Firefox) */
                    input[type="date"]::-moz-calendar-picker-indicator {
                        /* Add your custom styles for the popup */
                        background-color: #68A968 !important;
                        color: #68A968 !important;

                    }

                    input[type="date"] {
                        width: 100% !important;
                        text-overflow: ellipsis;
                    }

                    .calendar-icon {
                        width: 25px;
                        height: 25px;
                        background-image: url('../../../assets/images/search-filters/calendaricon.png'); // Replace with your pin icon
                        background-size: contain;
                        background-repeat: no-repeat;
                        flex: none;

                    }

                }

                /* Customize the background color of the menu */
                .mat-menu-panel {
                    background-color: #ffffff !important;
                    /* Example color */
                }

                .guest,.card {
                    width: 100%;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: white;
                    box-shadow: 1px 1px 5px #88888877;
                    border-radius: 5px;
                    padding: 8px;
                    cursor: pointer;

                    .guest-wrapper {
                        width: 100%;
                        background-color: transparent;
                        // border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        gap: 1rem;
                        cursor: pointer;

                        mat-icon {
                            flex: none;
                            color: #68A968;

                        }

                        input {
                            // border:1px solid black;
                            width: 100%;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            text-align: center;
                            text-overflow: ellipsis;


                        }
                    }
                }

                button {
                    background-color: transparent;
                    padding: 1rem;
                    border: none;
                    background-color: white;
                    color: black;
                    box-shadow: 1px 1px 5px #88888877;
                    border-radius: 5px;
                    cursor: pointer;
                    max-width: 4rem;

                    :nth-child(1) {
                        display: none;
                    }

                    mat-icon {
                        margin: 0px !important;
                        padding: 0px !important;
                        color: #68A968;
                    }
                }

                button:hover {
                    background-color: black;
                }
            }
        }

        .content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap:1rem;
            cursor: pointer;
           
            .stacked {
                display: grid;
                
                 
                * {
                    grid-column: 1 /.5;
                    grid-row: 1/.5;
                }
            }

            .card {
                text-align: center;
                margin: auto;
                margin-top: 0;
                display:grid;
                grid-template-rows: 15rem auto;
                gap:1rem;
                max-width:15rem;
                width: 100%;
                // border:2px solid black;

                .content__card {
                    position: relative;
                    z-index: 2;
                    align-self: end;
                    // border:2px solid black;
                  

                    .info {
                        height: fit-content;
                        text-align: left;

                        .title {
                         
                            align-items: center;
                            font-weight: bold;
                            font-size: calc(.8em + .2vw);
                            color: black;
                            word-break: break-words;
                            white-space-collapse:break-spaces;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2; /* Number of lines to show */
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 1.5; /* Adjust based on your font-size */
                            max-height: calc(1.5em * 3); /* line-height * number of lines */
                        }

                        .description {
                            font-size: calc(.8em + .2vw);
                        }

                        .permonth {
                            font-size: calc(.7em + .1vw);
                            color: #68A968;
                            font-weight: bold;
                            
                        }
                    }

                }

                .image {
                    box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.1);
                    width: 100%;
                    border-radius: 15px;
                    display: flex;

                    img {
                        aspect-ratio: 1/1;
                        border-radius: 15px;
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        object-position: center;
                    }

                }

                .image:hover {
                    opacity: 85%;
                }

            }
        }
        
        .seemore {
            display: flex;
            justify-content: center;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }
}


@media only screen and (max-width: 800px) {
    .btn {
        max-width: 120px !important;
    }
}

//Filters
@media only screen and (max-width: 1300px) {
    .staycation-list {
        &-staycation-wrapper {
            .search-filters-container {
                &-layer-2-wrapper {
                    display: grid;
                    grid-template-columns: 49% 49%;
                    gap: 2%;
                    gap:1rem;
                    position: relative;

                    .card:nth-child(4) {
                        order: -2;
                    }

                    .card:nth-child(1) {
                        order: -2;
                    }


                    button {
                        max-width: 10rem;
                        position: absolute;
                        bottom: -3.7rem;
                        left: 0;
                        right: 0;
                        margin: auto;
                        padding: .5rem;
                    }
                }
            }

            .content{
                margin-top:5rem;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .staycation-list {
        padding-top: .5rem;

        &-staycation-wrapper {
            .search-filters-container {
                &-layer-2-wrapper {
                    display: grid;
                    grid-template-columns: 100%;
                    position: relative;
                    gap: .5rem;

                    button {
                        max-width: 100%;
                        position: absolute;
                        bottom: -3.3rem;
                        left: 0;
                        right: 0;
                        margin: auto;
                        padding: .5rem;
                        display: flex; 
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-family: Poppins-Regular;
                        gap: .7rem;
                        background-color: #63AB68;
                        color: white;

                        :nth-child(1) {
                            display:block;
                            font-size:14px;
                        }
                        :nth-child(2) {
                            color: white;
                        }

                    }
                }
            }

        }
    }
}
@media only screen and (max-width: 500px) {
    .staycation-list {
        &-staycation-wrapper {
            .category-home-button {
                justify-content: center;

                .tarago-home {
                    display: none;
                }
            }

            .categories {
                height: 6rem;
                .staycations, .eventplace {
                    height: 6rem;
                    .swiper-container {

                        .categories-btn {
                            height: 6rem;
                            .wrap {
                                text-align: center;
                                flex-direction: column;
                                align-items: center;
                                gap: 5px;

                                :nth-child(1) {}

                                :nth-child(2) {
                                    line-height: 12px;
                                }
                            }

                        }
                    }
                }
            }

            .content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap:1rem;
                cursor: pointer;
                margin-top: 5rem;
               
    
                .stacked {
       

                }
    
                .card {
                    max-width:12rem;
                    width: 100%;
                    grid-template-rows: 12rem auto;

                    .image {
                        max-height:12rem;
    
                        img {
                            width: 100%;
                            height:100%;
                        }
    
                    }
    
    
                }
            }
        }
    }
}



//Swiper
.swiper-button-next {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(5px);
    box-shadow: 1px 1px 3px #88888877;
}

.swiper-button-prev {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(5px);
    box-shadow: 1px 1px 3px #88888877;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #63AB68;
    font-size: 15px;
}