<div class="security-settings">
    <div class="security-settings-security-settings-wrapper">
        <div class="section-1">
            <div class="header">
                <div class="create-profile">
                    <button (click)="openSecModalDialog()">
                        <mat-icon>edit</mat-icon>
                        Change your security
                    </button>
                </div>
            </div>
            <div class="content">
                <div class="info-details-personal-info">
                    <div class="title">Login & Security</div>
                    <div class="info-details-wrapper">
                        <div class="info-details-label">Email</div>
                        <div>{{ email }}</div>
                    </div>
                    <!-- <div class="info-details-wrapper">
                        <div class="info-details-label">Username</div>
                        <div>Juan Dela Cruz</div>
                    </div> -->
                    <div class="info-details-wrapper">
                        <div class="info-details-label">Password</div>
                        <!-- <input type="password" class="info-details-content" value="JuanDelaCruz" readonly/> -->
                        <div class="info-password">
                            <input matInput type="password" value="************" readonly>
                            <!-- <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                                <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>