<div class="listing-container"  [@fadeInAnimation]>
    <header class="header">
        <div class="search">
            <input matInput (keyup)="applyFilter($event)" placeholder="Search here..">
            <mat-icon>search</mat-icon>
        </div>
        <!-- <div class="custom-select-option rooms-and-bed card">
                <select name="No. of bed">
                    <optgroup label="Beds">
                    <option value="option1">Rooms</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                   </optgroup>
                </select>
            </div>
            <div class="custom-select-option amenities card">
                <select>
                    <option value="option1">Amenities</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div>
            <div class="custom-select-option listing-status card">
                <select>
                    <option value="option1">Listing Status</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div> -->
        <div class="create-listing-button card" (click)="handleCreateListing()
            ">
            <div class="mat-icon"><mat-icon>note_add</mat-icon></div>
            <div>Create Listing</div>
        </div>
    </header>
       <div class="content">
        <div class="mat-elevation-z3">
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-table-responsive">
                <ng-container matColumnDef="listing">
                    <th mat-header-cell *matHeaderCellDef>Listing</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="custom-property">
                            <img class="img" [src]="[element.listing]" alt="property" />
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="bedrooms">
                    <th mat-header-cell *matHeaderCellDef>Bedrooms</th>
                    <td mat-cell *matCellDef="let element">{{ element.bedrooms }}</td>
                </ng-container>
                <ng-container matColumnDef="beds">
                    <th mat-header-cell *matHeaderCellDef>Beds</th>
                    <td mat-cell *matCellDef="let element">{{ element.beds }}</td>
                </ng-container>
                <ng-container matColumnDef="bath">
                    <th mat-header-cell *matHeaderCellDef>Bath</th>
                    <td mat-cell *matCellDef="let element">{{ element.bath }}</td>
                </ng-container>
                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef>Location</th>
                    <td mat-cell *matCellDef="let element">{{ element.location }}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                </ng-container>
                <ng-container matColumnDef="lastmodified">
                    <th mat-header-cell *matHeaderCellDef>Last Modified</th>
                    <td mat-cell *matCellDef="let element">{{ element.lastmodified }}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="action-btn" mat-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>View</button>
                            <button mat-menu-item (click)="updateListing()">Edit Listing</button>
                            <button mat-menu-item (click)="handleToggleListing(element._id, element.isListed)"
                                *ngIf="!element.isListed">Add to Listing</button>
                            <button mat-menu-item (click)="handleToggleListing(element._id, element.isListed)"
                                *ngIf="element.isListed">Remove to Listing</button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator #paginator [length]="100" [pageSizeOptions]="[5, 10, 25]" aria-label="select page"
                showFirstLastButtons (page)="handlePageChange($event)"></mat-paginator>
        </div>
    </div>
    </div>
</div>