<div class="today">
         <section class="today-content-tab">
                  <div class="custom-tabs  ">
                    <div class="tab animated-border" [ngClass]="{'active': selectedTab === 'tab1'}" (click)="selectTab('tab1')">Upcoming</div>
                    <div class="tab animated-border" [ngClass]="{'active': selectedTab === 'tab2'}" (click)="selectTab('tab2')">Arriving</div>
                    <div class="tab animated-border" [ngClass]="{'active': selectedTab === 'tab3'}" (click)="selectTab('tab3')">Current Guest</div>
                    <div class="tab animated-border" [ngClass]="{'active': selectedTab === 'tab4'}" (click)="selectTab('tab4')">Check Out</div>
                    <div class="tab animated-border" [ngClass]="{'active': selectedTab === 'tab5'}" (click)="selectTab('tab5')">Reviews</div>
                  </div>
                
                  <div class="tab-content">
                    <div *ngIf="selectedTab === 'tab1'"><app-upcoming/></div>
                    <div *ngIf="selectedTab === 'tab2'"><app-arriving-soon/></div>
                    <div *ngIf="selectedTab === 'tab3'"><app-currently-guest/></div>
                    <div *ngIf="selectedTab === 'tab4'"><app-checking-out/></div>
                    <div *ngIf="selectedTab === 'tab5'"><app-reviews/></div>
                  </div>
         </section>
    </div>

