<div class="create-profile-modal">
  <div class="create-profile-modal-wrapper">
    <div class="close-button" (click)="closeDialogCreateProfile()">
      <mat-icon>close</mat-icon>
    </div>
    <form
      [formGroup]="userProfileForm"
      (ngSubmit)="updateProfile(userProfileForm)"
    >
      <section class="upload-profile-picture">
        <div class="image-upload">
          <input
            type="file"
            id="fileInput"
            style="display: none"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
          <label for="fileInput" class="custom-file-label">
            <div *ngIf="imageUrl" class="preview">
              <img [src]="imageUrl" alt="uploaded-image" />
            </div>
            <!-- <mat-icon *ngIf="!imageUrl" class="custom-icon">person</mat-icon> -->
            <!-- <img *ngIf="!imageUrl" src="..\..\assets\images\customer-dashboard\create-listing\cameraadd.png"
                            alt="camera-Icon" class="custom-icon"> -->
          </label>
          <label for="fileInput" class="main-button custom-btn"
            >Upload Image</label
          >
        </div>
      </section>
      <section class="info-details">
        <div class="title">About yourself</div>
        <div class="say-something-about-your-profile">
          <div class="input-wrapper">
            <div class="label">Say something about your profile</div>
            <textarea
              type="text"
              name="desc"
              formControlName="desc"
              placeholder="You’ll have a great time at this comfortable place to stay.."
            >
            </textarea>
          </div>
        </div>
        <div class="your-information-about-your-info">
          <div class="your-likes">
            <div class="title">Your Personal Information</div>
            <div class="info">
              <div class="input-wrapper">
                <div class="label">First name</div>
                <input
                  type="text"
                  name="fName"
                  formControlName="fName"
                  required
                />
              </div>
              <div class="input-wrapper">
                <div class="label">Middle name</div>
                <input type="text" name="mName" formControlName="mName" />
              </div>
              <div class="input-wrapper">
                <div class="label">Last name</div>
                <input
                  type="text"
                  name="lName"
                  formControlName="lName"
                  required
                />
              </div>
              <div class="input-wrapper">
                <div class="label">Ext. name</div>
                <input type="text" name="xName" formControlName="xName" />
              </div>
              <div class="input-wrapper">
                <div class="label">Contact Number +63</div>
                <input type="number" name="contact" formControlName="contact" />
              </div>
            </div>
          </div>
        </div>
        <div class="your-information-about-your-self">
          <div class="your-likes">
            <div class="title">Your likes</div>
            <div class="info">
              <div class="input-wrapper">
                <div class="label">Hobbies</div>
                <input
                  type="text"
                  name="hobbies"
                  formControlName="hobbies"
                  placeholder="Separate with comma if multiple"
                />
              </div>
              <div class="input-wrapper">
                <div class="label">Work</div>
                <input type="text" name="work" formControlName="work" />
              </div>
              <div class="input-wrapper">
                <div class="label">Favorite Food</div>
                <input type="text" name="favFood" formControlName="favFood" />
              </div>
              <div class="input-wrapper">
                <div class="label">Favorite Place</div>
                <input type="text" name="favPlace" formControlName="favPlace" />
              </div>
            </div>
          </div>
        </div>
        <button
          class="main-button"
          type="submit"
          [disabled]="!userProfileForm.valid"
        >
          Save
        </button>
      </section>
    </form>
  </div>
</div>
