.create-profile-modal {
    font-family: Poppins-Regular;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: relative;
    height: 100% !important;
    padding-top: 3rem;
   


    .close {
        padding-top: 4px;
        position: absolute;
        top: 10px;
        z-index: 5;
    }

    &-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100% !important;
        width: 100%;


        form {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2%;
            width: 100%;
            height: 100% !important;
      




            .upload-profile-picture {
           
                position: sticky;
                top: 1rem;
                flex: 0 15rem;
                // border: 2px solid black;
                 height: 100%;

                .image-upload {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
               
                    input[type="file"] {
                        margin-bottom: 10px;
                    }

                    .custom-file-label {
                        background-color: #eeeeee;
                        border-radius: 100%;
                        width: 10rem;
                        height: 10rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .preview {
                            width: 100%;
                            height: 100%;


                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 100%;
                                object-fit: cover;


                            }
                        }

                        .custom-icon {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 100%;
                            object-fit: cover;
                            object-position: center;
                            font-size: 5rem;
                            color: #68A86A;
                            // border: 1px solid black;

                        }
                    }

                    .custom-btn {
                        margin-top: 1rem;
                    }

                }
            }

            .info-details {
                // border: 2px solid black;
                flex: 1;
                overflow-y: auto !important;
                max-height: 100%;
                padding: 0rem 1rem 0rem;
                width: 100%;


                .title {
                    font-size: clamp(1.5rem, 1.5vw, 8rem);
                    color: #68A86A;
                    padding: 5px;

                }

                .say-something-about-your-profile {
                    margin: 1rem 0 1rem;
                    // border: 2px solid black;

                    .input-wrapper {
                        .label {
                            margin-bottom: .3rem;
                        }

                        textarea {
                            padding: 1rem;
                            border: 2px solid #63AB68;
                            width: 100%;
                            height: 8rem;
                            border-radius: 10px;
                            font-family: Poppins-Medium;
                            font-size: 15px;
                            resize: none;

                        }

                        textarea::placeholder {
                            color: #d1d1d1;
                            font-weight: normal;
                            font-size: .8rem;
                        }
                    }

                }

                .your-information-about-your-info {
                    margin: 1rem 0 1rem;

                    .your-likes {
                        .title {
                            font-size: clamp(1rem, 1vw, 8rem);
                        }

                        .info {
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
                            gap: .5rem;
                            width: 100%;

                            .input-wrapper {
                                .label {
                                    margin-bottom: .3rem;
                                }

                                input {
                                    padding: 1rem;
                                    border: 2px solid #63AB68;
                                    width: 100%;
                                    border-radius: 10px;
                                    font-family: Poppins-Medium;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }

                .your-information-about-your-self {
                    margin: 1rem 0 1rem;

                    .your-likes {
                        .title {
                            font-size: clamp(1rem, 1vw, 8rem);
                        }

                        .info {
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
                            gap: .5rem;
                            width: 100%;

                            .input-wrapper {
                                .label {
                                    margin-bottom: .3rem;
                                }

                                input {
                                    padding: 1rem;
                                    border: 2px solid #63AB68;
                                    width: 100%;
                                    border-radius: 10px;
                                    font-family: Poppins-Medium;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }



}


@media only screen and (max-width:700px) {
    .create-profile-modal {
        height: 100%;
        padding-top: 0rem;
        &-wrapper {
            form {
                flex-direction: column;
                gap: 2rem;
                margin: 0 !important;
            }

        }
    }
}