<div class="account-verification">
  <div class="header">
    <div class="title">Account Verification</div>
  </div>
  <div class="content">
    <!-- <div class="title_wrapper">
      <div class="info_title">Verify your personal information</div>
      <div class="sub_title">
        Provide personal details and how we can reach you.
      </div>
    </div>
    <div class="verify_info -legal_name">
      <div class="wrapper">
        <div class="verify_title">Legal name</div>
        <div class="_btn">
          <button class="remove_default_button" (click)="dialogLegalName()">
            {{ nameBtnText }}
          </button>
        </div>
      </div>
      <div class="verify_value">
        {{ nameTextValue }}
      </div>
      <hr />
    </div>
    <div class="verify_info -prefered_name">
      <div class="wrapper">
        <div class="verify_title">Prefered name</div>
        <div class="_btn">
          <button class="remove_default_button" (click)="dialogpreferedName()">
            {{ nickNameBtnText }}
          </button>
        </div>
      </div>
      <div class="verify_value">{{ nickNameTextValue }}</div>
      <hr />
    </div>
    <div class="verify_info -email_address">
      <div class="wrapper">
        <div class="verify_title">Email Address</div>
        <div class="_btn">
          <button class="remove_default_button" (click)="dialogemailAddress()">
            {{ emailBtnText }}
          </button>
        </div>
      </div>
      <div class="verify_value">{{ emailTextValue }}</div>
      <hr />
    </div>
    <div class="verify_info -phone_number">
      <div class="wrapper">
        <div class="verify_title">Phone number</div>
        <div class="_btn">
          <button class="remove_default_button" (click)="dialogphoneNumber()">
            {{ contactBtnText }}
          </button>
        </div>
      </div>
      <div class="{{ contactClass }}">
        {{ contactTextValue }}
      </div>
      <hr />
    </div>
    <div class="verify_info -legal_address">
      <div class="wrapper">
        <div class="verify_title">Address</div>
        <div class="_btn">
          <button class="remove_default_button" (click)="dialogyourAddress()">
            {{ addressBtnText }}
          </button>
        </div>
      </div>
      <div class="verify_value">
        {{ addressTextValue }}
      </div>
      <hr />
    </div>
    <div class="verify_info -government_id">
      <div class="wrapper">
        <div class="verify_title">Government ID</div>
        <div class="_btn">
          <button class="remove_default_button" (click)="dialoggovermentID()">
            {{ govIdBtnText }}
          </button>
        </div>
      </div>
      <div class="verify_value">{{ govIdTextValue }}</div>
      <hr />
    </div> -->
    <app-government-id
      *ngIf="status === 'invalid' || status === 'declined'"
      (setNewStatus)="handleChangeStatus($event)"
    />
    <div *ngIf="status === 'loading'">
      <span
        style="
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
        "
        ><mat-spinner [diameter]="15" /> Checking your account verication
        status.</span
      >
    </div>
    <div *ngIf="status === 'pending'">
      Verification of you account is still on process. Please wait for a while.
    </div>
    <div *ngIf="status === 'approved'">Your account has been verified</div>
  </div>
</div>
