<div class="account-verification">
    <div class="header">
        <div class="title">Account Verification</div>
        <div class="create-profile">
        </div>
    </div>
    <div class="content">
        <div class="title_wrapper">
            <div class="info_title">Verify your personal information</div>
            <div class="sub_title">Provide personal details and how we can reach you.</div>
        </div>

        <div class="verify_info">
            <div class="wrapper">
                <div class="verify_title">Legal name</div>
                <div class="_btn">
                    <button *ngIf="legalName[0].firstname && legalName[0].lastname  === '' " class="remove_default_button" (click)="dialogLegalName()">Add</button>
                    <button  *ngIf="preferedName !== '' " class="remove_default_button" (click)="dialogLegalName()">Edit</button>
                </div>
            </div>
            <div class="verify_value">{{legalName[0].firstname}}{{legalName[0].lastname}}</div>
            <div class="verify_value" *ngIf="legalName[0].firstname && legalName[0].lastname  === '' ">Not Provided</div>
            <hr>
        </div>

        <div class="verify_info">
            <div class="wrapper">
                <div class="verify_title">Prefered name</div>
                <div class="_btn">
                    <button *ngIf="preferedName  === '' " class="remove_default_button" (click)="dialogpreferedName()">Add</button>
                    <button  *ngIf="preferedName !== '' " class="remove_default_button" (click)="dialogpreferedName()">Edit</button>
                </div>
            </div>
            <div class="verify_value">{{preferedName}}</div>
            <div class="verify_value" *ngIf="preferedName  === '' ">Not Provided</div>
            <hr>
        </div>
        <div class="verify_info">
            <div class="wrapper">
                <div class="verify_title">Phone number</div>
                <div class="_btn">
                    <button *ngIf="phoneNumber  === null " class="remove_default_button" (click)="dialogphoneNumber()">Add</button>
                    <button  *ngIf="phoneNumber !== null " class="remove_default_button" (click)="dialogphoneNumber()">Edit</button>
                </div>
            </div>
            <div class="verify_value" *ngIf="phoneNumber  !== null">+63{{phoneNumber}}</div>
            <div class="custom_subtitle_number" *ngIf="phoneNumber  === null ">Add a number so confirmed guests and TaraGo can get in touch. You can add other numbers and choose how they’re used.</div>
            <hr>
        </div>
        
        <div class="verify_info">
            <div class="wrapper">
                <div class="verify_title">Government ID</div>
                <div class="_btn">
                    <button *ngIf="governmentId  === '' " class="remove_default_button" (click)="dialoggovermentID()">Add</button>
                    <button  *ngIf="governmentId !== '' " class="remove_default_button" (click)="dialoggovermentID()">Edit</button>
                </div>
            </div>
            <div class="verify_value">{{governmentId}}</div>
            <div class="verify_value" *ngIf="governmentId === '' ">Not Provided</div>
            <hr>
        </div>
        

    </div>
</div>