<div class="reservation-modal" [@fadeInAnimation]>
  <div class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </div>
  <section class="reservation-modal-reservation-modal-container">
    <div class="reservation-modal-reservation-modal-wrapper">
      <div class="section-1">
        <div class="profile-picture">
          <div class="wrapper">
            <div class="profile-picture-img">
              <img
                [src]="imageSrc"
                loading="lazy"
                alt="Avatar"
                [draggable]="false"
              />
            </div>
            <div class="profile-info">
              <div class="name">{{ data.initiatedBy?.fullName }}</div>
              <div class="label">Booked Guest</div>
              <div class="duration-at-tarago">
                {{ data.initiatedBy?.contact }}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isLoading" class="verification">
          <div class="info_status">
            <div class="title">Guest Account Verification</div>
            <div
              class="info-not-verified"
              [ngStyle]="{
                display:
                  !verifiedIdCard || !verifiedMobileNumber ? 'block' : 'none'
              }"
            >
              This account is not verified.
            </div>
          </div>

          <div
            class="info-verified"
            [ngStyle]="{
              display: verifiedIdCard && verifiedMobileNumber ? 'block' : 'none'
            }"
          >
            <div class="info-verified-wrapper">
              <div>
                <div class="id_verfiy">
                  <div class="icons">
                    <mat-icon>check</mat-icon>
                  </div>
                  <div>Identification Card Verified</div>
                </div>
                <div class="id_verfiy">
                  <div class="icons">
                    <mat-icon>check</mat-icon>
                  </div>
                  <div>Mobile Number Verified</div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="btn_view">
                        <button class="square_button">View Guest</button>
                        <button class="square_button">View Listing</button>
                    </div> -->
        </div>
        <div *ngIf="isLoading" class="verification-loading">
          <span
            ><mat-spinner [diameter]="15" /> Loading Guest Verification
            Data</span
          >
        </div>
        <div class="info_action_button" *ngIf="status === 'For Approval'">
          <button
            class="square_button"
            (click)="confirmApproveModal()"
            [disabled]="statusLoading"
          >
            <span *ngIf="!statusLoading">Approved</span>
            <span *ngIf="statusLoading">
              <mat-spinner [diameter]="20" />
            </span>
          </button>
          <button
            class="square_button"
            (click)="confirmDeclineModal()"
            [disabled]="statusLoading"
          >
            <span *ngIf="!statusLoading">Decline</span>
            <span *ngIf="statusLoading"><mat-spinner [diameter]="20" /></span>
          </button>
        </div>
      </div>
      <div class="section-2">
        <div class="header">
          <div class="title">{{ status }}</div>
          <div><hr /></div>
        </div>

        <div class="content">
          <div class="info-details-booked-info">
            <!-- <div class="info-details-wrapper" *ngFor="let personInfos of bookedInfos">
                            <div class="info-details-label">{{personInfos.label}}</div>
                            <div class="info-details-content">{{personInfos.info}}</div>
                        </div> -->
            <div class="info-details-booked-guest-info">
              <div class="info-details_header">
                <div class="title">Your Guest Details</div>
                <div class="subtitle">Complete details about this booking</div>
              </div>
              <div class="info-details_content">
                <div class="info-details-wrapper">
                  <div class="info-details-label">Date booked</div>
                  <div class="info-details-label">
                    <span> {{ data.createdAt | date : "longDate" }}</span>
                  </div>
                </div>
                <div class="info-details-wrapper">
                  <div class="info-details-label">Guest</div>
                  <div class="info-details-label">{{ totalGuest }}</div>
                </div>
                <div class="info-details-wrapper">
                  <div class="info-details-label">Reservation Date</div>
                  <div class="info-details-label">
                    <span>{{ data.duration?.start | date : "longDate" }}</span>
                    -
                    <span>{{ data.duration?.end | date : "longDate" }}</span>
                  </div>
                </div>
                <div class="info-details-wrapper">
                  <div class="info-details-label">Interval</div>
                  <div class="info-details-label">{{ intervalDays }}</div>
                </div>

                <div *ngIf="data.status === 'check_out'">
                  <div class="info-details-wrapper">
                    <div class="info-details-label">Payment Type</div>
                    <div class="info-details-label">Fully Paid</div>
                  </div>
                  <div class="info-details-wrapper">
                    <div class="info-details-label">Total Payment</div>
                    <div class="info-details-label">1500</div>
                  </div>

                  <div class="info-details-wrapper">
                    <div class="info-details-label">Balance</div>
                    <div class="info-details-label">600</div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <hr />
            </div>
            <div>
              <div class="title">Your Property</div>
              <div class="subtitle">Guest want's book this property</div>
              <div
                class="info-details-wrapper info-details-wrapper-custom-flex"
              >
                <div class="custom-img">
                  <img
                    [src]="propertySrc"
                    loading="lazy"
                    alt="Avatar"
                    [draggable]="false"
                  />
                </div>
                <div class="info-details-label property-name">
                  {{ data.bookTo?.name }}
                </div>
              </div>
            </div>
            <div *ngIf="data.status === 'check_out'">
              <hr />
            </div>
            <div *ngIf="data.status === 'check_out'">
              <div class="title">Your Earnings</div>
              <div class="subtitle">Your earnings from this booking.</div>
              <div
                class="info-details-wrapper info-details-wrapper-custom-flex"
              >
                <div
                  class="info-details-label property-earnings"
                  style="font-size: 1rem; font-weight: bold"
                >
                  P500.00
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
