<div class="dashboard-container">
    <div class="dashboard-container-wrapper">
        <div class=" dashboard-card">
            <h1 class="number">0</h1>
            <p class="title">Number of Users</p>
        </div>
        <div class=" dashboard-card">
            <h1 class="number">0</h1>
            <p class="title">Number of Proprietor</p>
        </div>
        <div class=" dashboard-card">
            <h1 class="number">0</h1>
            <p class="title">Number of Guest</p>
        </div>
        <div class=" dashboard-card">
            <h1 class="number">0</h1>
            <p class="title">Number of Listing</p>
        </div>
        <div class=" dashboard-card">
            <h1 class="number">0</h1>
            <p class="title">Number of Bookings</p>
        </div>
        <div class=" dashboard-card">
            <h1 class="number">0</h1>
            <p class="title">Taxes Price</p>
        </div>
    </div>
</div>