<div class="more-info">
    <div class="header">
        <div class="title">
            Admin
        </div>
        <div class="close-button-normal" (click)="closeValidation()"><mat-icon>close</mat-icon></div>
    </div>
    <hr>

    <div class="content">
        <div class="name_info">
             Admin Name
        </div>
            <div class="title">Are you sure you want to delete this account?</div>
    </div>
    <hr>

    <div class="footer">
        <button class="main-button custom_btn" (click)="closeValidation()">Cancel</button>
        <button class="main-button">Delete</button>
    </div>
</div>