<div class="book-staycation" [@fadeInAnimation] *ngIf="staycationDetails">
    <div class="book-staycation-book-staycation-wrapper">
        <header class="booking-header">
            <button (click)="backToBookingDetails()">
                <mat-icon>chevron_left</mat-icon>
                <span>Back</span>
            </button>
            <div class="title">Initiate Booking</div>
        </header>
        <section class="booking-content">
            <div class="info-details">
                <div>
                    <div class="your-trip">
                        <div class="title">Your trip</div>
                        <div class="date-wrapper">
                            <div class="checkin-out-dates">
                                <mat-icon>calendar_today</mat-icon>
                                <div class="label">Checkin</div>
                                <div class="date">{{ duration.start | date : 'longDate' }}</div>
                            </div>
                            <div class="checkin-out-dates">
                                <mat-icon>calendar_today</mat-icon>
                                <div class="label">Checkout</div>
                                <div class="date">{{ duration.end | date : 'longDate' }}</div>
                            </div>
                        </div>
                        <div class="guest-wrapper">
                            <mat-icon>people</mat-icon>
                            <div class="label">Guest</div>
                            <div>{{ guests.adult + guests.children }}</div>
                        </div>
                    </div>
                    <div class="choose-howto-pay">
                        <div class="title_wrapper">
                            <div class="title">Choose how to pay</div>
                            <div class="more_info" (click)="onClickMore()">More info</div>
                        </div>
                        <div class="choose-howto-pay-wrapper">
                            <label class="custom-radio" *ngFor="let option of options">
                                <input type="radio" [value]="option.value" name="customRadio"
                                    (change)="onRadioChange($event)" [checked]="selectedValue === option.value" />
                                <div class="radio-mark"></div>
                                <div class="wrapper">
                                    <div>{{ option.label }}</div>
                                    <div class="price">₱{{option.price}} total</div>
                                    <div>Due Date: {{option.duedate}}</div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="payment-method">

                        <div class="title-wrapper">
                            <div class="title">Pay with</div>
                            <div class="wallet-icons">
                                <div><img src="../../assets/images/main/book-staycation/visa.png" loading="lazy"
                                        alt="Avatar" [draggable]="false" *ngIf="selectedPaymentType === 'card'"></div>
                                <div><img src="../../assets/images/main/book-staycation/mastercard.png" loading="lazy"
                                        alt="Avatar" [draggable]="false" *ngIf="selectedPaymentType === 'card'"></div>
                                <div><img src="../../assets/images/main/book-staycation/gcash.png" loading="lazy"
                                        alt="Avatar" [draggable]="false" *ngIf="selectedPaymentType === 'gcash'"></div>
                            </div>
                        </div>
                        <div class="payment-card-select custom-select">
                            <select id="treats" name="treats" [(ngModel)]="selectedPaymentType" (change)="initForm()">
                                <option value="card">Credit Card or debit card</option>
                                <option value="gcash">Gcash</option>
                            </select>
                        </div>
                        <ng-template [ngIf]="selectedPaymentType === 'card'" [formGroup]="cardPaymentForm">
                            <div class="zip-code">
                                <input type="text" alt="ccv" name="cardNumber" formControlName="card" pattern="[0-9]{16}" placeholder="Card Number" maxlength="16" (keypress)="checkNumberInput($event)" />
                                <!-- <ng-container *ngFor="let v of cardPaymentFormValidation.card">
                                    <span class="val-err-msg" *ngIf="cardPaymentForm.get('card')?.hasError(v.type) && (cardPaymentForm.get('card')?.dirty || cardPaymentForm.get('card')?.touched)">{{ v.msg }}</span>
                                </ng-container> -->
                            </div>
                            <div class="wrapper">
    
                                <div class="expiration-style date-cvv">
                                    <div>Expiration</div>
                                    <input type="text" name="expirationMonth" class="custom-date-input" formControlName="expiryMonth" pattern="[0-9]{2}" placeholder="MM" maxlength="2" max="12" (keypress)="checkNumberInput($event)" />
                                    <!-- <ng-container *ngFor="let v of cardPaymentFormValidation.expiryMonth">
                                        <span class="val-err-msg" *ngIf="cardPaymentForm.get('expiryMonth')?.hasError(v.type) && (cardPaymentForm.get('expiryMonth')?.dirty || cardPaymentForm.get('expiryMonth')?.touched)">{{ v.msg }}</span>
                                    </ng-container> -->
                                    <input type="text" name="expirationYear" class="custom-date-input" formControlName="expiryYear" pattern="[0-9]{2}" placeholder="YY" maxlength="2" max="99" (keypress)="checkNumberInput($event)" />
                                    <!-- <ng-container *ngFor="let v of cardPaymentFormValidation.expiryYear">
                                        <span class="val-err-msg" *ngIf="cardPaymentForm.get('expiryYear')?.hasError(v.type) && (cardPaymentForm.get('expiryYear')?.dirty || cardPaymentForm.get('expiryYear')?.touched)">{{ v.msg }}</span>
                                    </ng-container> -->
                                </div>
    
                                <div class="ccv-input">
                                    <input type="text" name="cvv" formControlName="cvv" pattern="[0-9]{3}" placeholder="CVV" max="999" maxlength="3" (keypress)="checkNumberInput($event)" />
                                    <!-- <ng-container *ngFor="let v of cardPaymentFormValidation.cvv">
                                        <span class="val-err-msg" *ngIf="cardPaymentForm.get('cvv')?.hasError(v.type) && (cardPaymentForm.get('cvv')?.dirty || cardPaymentForm.get('cvv')?.touched)">{{ v.msg }}</span>
                                    </ng-container> -->
                                </div>
                            </div>
                            <div class="zip-code">
                                <input type="text" name="name" formControlName="name" placeholder="Name on Card" />
                                <!-- <ng-container *ngFor="let v of cardPaymentFormValidation.name">
                                    <span class="val-err-msg" *ngIf="cardPaymentForm.get('name')?.hasError(v.type) && (cardPaymentForm.get('name')?.dirty || cardPaymentForm.get('name')?.touched)">{{ v.msg }}</span>
                                </ng-container> -->
                            </div>
                            <div class="zip-code">
                                <input type="text" name="name" formControlName="contact" placeholder="Contact Number" />
                                <!-- <ng-container *ngFor="let v of cardPaymentFormValidation.contact">
                                    <span class="val-err-msg" *ngIf="cardPaymentForm.get('contact')?.hasError(v.type) && (cardPaymentForm.get('contact')?.dirty || cardPaymentForm.get('contact')?.touched)">{{ v.msg }}</span>
                                </ng-container> -->
                            </div>
                        </ng-template>

                        <ng-template [ngIf]="selectedPaymentType === 'gcash'" [formGroup]="gcashPaymentForm">
                            <div class="zip-code">
                                <input type="text" name="fullname" formControlName="acctName" placeholder="Account name"/>
                            </div>
                            <div class="zip-code">
                                <input type="tel" name="cellnum" formControlName="acctNumber" placeholder="Account number"/>
                            </div>
                        </ng-template>

                    </div>
                    <div class="cancellation-policy">
                        <div class="title">Cancellation Policy</div>
                        <!-- <div class="subtitle">Message the Porprierotor</div> -->
                        <!-- <div class="description">This Reservation is non-refundable</div> -->
                        <div class="description">{{ selectedCancellation.desc }}</div>
                        <div class="seemore" (click)="onClickLearnMore()">Learn more</div>
                    </div>
                    <div class="ground-rules">
                        <div class="title">Ground Rules</div>
                        <p class="subtitle">We ask every guest to remember a few simple things about what makes a great
                            guest.</p>
                        <ul class="description">
                            <li *ngFor="let rule of staycationDetails.houseRules">{{ rule }}</li>
                            <li>{{ staycationDetails.houseRulesDetailed }}</li>
                        </ul>
                    </div>
                    <div class="notes" *ngIf="staycationDetails.bookingProcess">
                        <div><mat-icon>wb_sunny</mat-icon></div>
                        <p>
                            Your reservation won’t be confirmed until the Porprierotor accepts your request (within 24
                            hours). You
                            won’t be charged until then.
                        </p>
                    </div>
                    <div class="agrees-policy">
                        <p>By selecting the button below, I agree to the Proprietor's House Rules, 
                            <span class="bookingterms" (click)="onClickBookingTerms()">Booking terms</span> 
                            TaraGo's Rebooking and Refund Policy, and
                            that TaraGo can charge my
                            payment method if
                            I’m responsible for damage. I agree to pay the total amount shown if the Porprierotor
                            accepts my
                            booking
                            request.</p>
                    </div>
                    <button (click)="initiateBooking()" [disabled]="(!cardPaymentForm.valid && !gcashPaymentForm.valid) || selectedValue === ''">Request to book</button>
                </div>
            </div>
            <div class="price-details">
                <div class="title">Price Details</div>
                <div class="price-details-card">
                    <div class="image">
                        <img [src]="staycationDetails.cover" loading="lazy" alt="images"
                            [draggable]="false" />
                    </div>
                    <div class="title-wrapper">
                        <div class="title">{{ staycationDetails.name }}</div>
                        <!-- <div class="heart">
                            <mat-icon>stars</mat-icon>
                            <div>Rate</div>
                            <div>7.00</div>
                        </div> -->
                    </div>
                    <div class="guest-desc">
                        <span>{{ staycationDetails.details.guests }} guests</span> - <span>{{ staycationDetails.details.bedrooms }} bedroom</span> - <span>{{ staycationDetails.details.beds }} beds</span> - <span>{{ staycationDetails.details.bathroom }} bath</span>
                    </div>

                    <hr>

                    <div class="total-computation-wrapper">
                        <div class="note" *ngIf="staycationDetails.bookingProcess === 'for_approval'">You won’t be charged yet</div>
                        <div class="computation">
                            <div class="comp">
                                <td><span>₱ {{ staycationDetails.price }}</span> x {{ nights }} {{ (nights > 1) ? 'nights' : 'night' }}</td>
                                <td>₱ {{ staycationDetails.price * nights }}</td>
                            </div>
                            <div class="comp">
                                <td>TaraGo Service Fee</td>
                                <td>₱ {{ serviceCharge }}</td>
                            </div>
                            <div class="comp">
                                <td>Discount</td>
                                <td>{{ discount.value * 100 }}%</td>
                            </div>
                        </div>
                    </div>

                    <div class="total">
                        <div>Total before taxes</div>
                        <div>₱ {{ totalBeforeTax }} total</div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>