.book-staycation {
    &-book-staycation-wrapper {
        width:100%;
        margin-left: auto;
        margin-right: auto;

        .booking-header {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
            margin-bottom: 2rem;

            button {
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                gap: .3;
                text-decoration: underline;
                cursor: pointer;
            }


            .title {
                font-weight: bold;
                font-size: clamp(1.5rem, 1.5vw, 8rem);
            }
        }

        .booking-content {
            display: flex;
            flex-direction: row;
            gap: 5rem;


            .info-details {
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 1rem 0 1rem;
                // border: 1px solid black;

                form {

                    .your-trip {
                        .title {
                            font-size: clamp(1rem, 1.2vw, 8rem);
                            margin: 1rem 0 1rem;
                        }

                        .date-wrapper {
                            margin: 1rem 0 1rem;
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            gap: 1rem;

                            .checkin-out-dates {
                                // border: 2px solid #68A968;
                                background-color: #ececec;
                                display: flex;
                                align-items: center;
                                gap: .5rem;
                                padding: 1rem;
                                border-radius: 10px;
                                width: 100%;

                                mat-icon {
                                    width: 50px;
                                    color: #68A968;
                                }

                                .date {
                                    width: 100%;
                                    // border: 1px solid black;
                                    text-align: center;
                                }

                                .label {
                                    font-weight: bold;
                                }
                            }
                        }

                        .guest-wrapper {
                            // border: 2px solid #68A968;
                            background-color: #ececec;
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            padding: 1rem;
                            border-radius: 10px;


                            mat-icon {
                                width: 35px;
                                color: #68A968;
                            }

                            .label {
                                font-weight: bold;
                            }
                        }
                    }

                    .payment-method {

                        margin: 2rem 0 2rem;

                        .title-wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .title {
                                font-size: clamp(1rem, 1.2vw, 8rem);
                                margin: 1rem 0 1rem;
                            }

                            .wallet-icons {
                                display: flex;
                                gap: 1rem;

                                div {
                                    max-width: 5rem;

                                    img {
                                        width: 100%;
                                        height: 1.3rem;
                                    }

                                }
                            }
                        }

                        ///////
                        .custom-select {
                            position: relative;

                        }

                        select {
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            border: 2px solid #68A968;
                            padding: 1rem;
                            border-radius: 10px;
                            width: 100%;
                            cursor: pointer;
                        }

                        select::-ms-expand {
                            display: none;
                        }

                        .custom-select::after {
                            content: '\25BC';
                            /* Unicode character for down arrow */
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            pointer-events: none;
                        }

                        ///////
                        .wrapper {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 1rem;
                            margin-top: 1rem;

                            .expiration-style {
                                display: flex;
                                align-items: center;
                                gap: .5rem;
                                background-color: white;
                                padding-left: 15px;
                                border-radius: 10px;
                                width: fit-content;
                                border: 2px solid #68A968;


                                .custom-date-input {
                                    // -webkit-appearance: none;
                                    //  -moz-appearance: none;
                                    // appearance: none;
                                    padding: 0.5rem .5rem;
                                    border: none;
                                    outline: none;
                                    border-radius: 5px;
                                    background-color: #fff;
                                    color: #797979;
                                    font-family: Arial, sans-serif;
                                    font-size: 14px;
                                    max-width: 150px;
                                    width: 100%;

                                }

                                /* Custom style for the dropdown arrow */
                                .custom-date-input::-webkit-calendar-picker-indicator {
                                    cursor: pointer;
                                    padding: .5rem;
                                    background-color: transparent;
                                    background-image: url('../../../assets/images/search-filters/v-icon.png'); // Replace with your pin icon
                                    /* You can use background-image here to add a custom image */

                                }

                                /* Custom style for the datepicker popup (Chrome, Safari) */
                                .custom-date-input::-webkit-calendar-picker-popup {
                                    /* Add your custom styles for the popup */
                                    background-color: #68A968 !important;
                                    color: #68A968 !important;
                                    padding: 2rem;
                                }

                                /* Custom style for the datepicker popup (Firefox) */
                                .custom-date-input[type="date"]::-moz-calendar-picker-indicator {
                                    /* Add your custom styles for the popup */
                                    background-color: #68A968 !important;
                                    color: #68A968 !important;
                                }


                                .calendar-icon {
                                    width: 25px;
                                    height: 25px;
                                    background-image: url('../../../assets/images/search-filters/calendaricon.png'); // Replace with your pin icon
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }


                            }

                            .ccv-input {
                                width: 100%;

                                input {
                                    width: 100%;
                                    padding: 1rem;
                                    border-radius: 10px;
                                    border: 2px solid #68A968;
                                    outline: none;
                                }
                            }
                        }

                        .zip-code {
                            margin-top: 1rem;

                            input {
                                width: 100%;
                                padding: 1rem;
                                border-radius: 10px;
                                border: 2px solid #68A968;
                                outline: none;
                            }
                        }

                    }

                    .cancellation-policy {
                        margin: 2rem 0 2rem;
                        border: 1px sd black;

                        .title {
                            font-size: clamp(1rem, 1.2vw, 8rem);
                            margin: 1rem 0 1rem;
                        }

                        .subtitle {
                            margin-top: 2px;
                            color: #68A968;
                            font-size: clamp(.8rem, .8vw, 8rem);
                        }

                        .description {
                            font-size: clamp(.7rem, .7vw, 8rem);
                        }

                        .seemore {
                            width: fit-content;
                            border: none;
                            background-color: transparent;
                            color: #68A968;
                            font-size: clamp(.7rem, .7vw, 8rem);
                            cursor: pointer;
                        }


                    }

                    .ground-rules {
                        margin: 2rem 0 2rem;

                        .title {
                            font-size: clamp(1rem, 1.2vw, 8rem);
                            margin: 1rem 0 1rem;
                        }

                        .subtitle {
                            margin-top: 2px;
                            color: #68A968;
                            font-size: clamp(.8rem, .8vw, 8rem);
                        }


                        .description {
                            font-size: clamp(.7rem, .7vw, 8rem);
                        }
                    }

                    .notes {
                        margin: 2rem 0 2rem;
                        display: flex;
                        gap: 1rem;

                        mat-icon {
                            color: #68A968;
                        }
                    }

                    .agrees-policy {
                        margin: 2rem 0 2rem;

                        p {
                            span {
                                cursor: pointer;
                                color: #68A968;
                                text-decoration: underline;
                            }
                        }
                    }

                    button {
                        margin-bottom: 2rem;
                        width: 100%;
                        background-color: #68A968;
                        border: none;
                        color: white;
                        font-size: 1rem;
                        padding: 1rem;
                        font-weight: bold;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    button:hover {
                        background-color: black;
                        color: #68A968;
                        font-weight: bold;
                    }
                }
            }

            .price-details {
                flex-basis: 50%;
                margin: 1rem 0 1rem;
                // border: 1px solid black;
          

                .title {
                    margin: 1rem 0 1rem;
                    font-size: clamp(1rem, 1.2vw, 8rem);
                }

                .price-details-card {
                    height: fit-content;
                    background-color: white;
                    box-shadow: 1px 1px 5px #88888877;
                    padding: 2rem;
                    border-radius: 5px;

                    .image{
                        max-width:100%;
                        img{
                            width:100%;
                            height: auto;
                        }
                    }

                    .title-wrapper {
                        display: flex;
                        height: fit-content;
                        justify-content: space-between;
        
                        .title {
                            font-weight: bold;
                            font-size: clamp(1.2rem, 1vw, 8rem);
                        }
        
                        .heart {
                            color: #68A968;
                            display: flex;
                            gap:.5rem;
                            align-items: center;

                            mat-icon{
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }

                    .guest-desc{
                        color: #68A968;
                        font-size: clamp(.7rem, .7vw, 8rem);
            
                        span{
                            margin:0;
                            padding: 0;
                        
                        }
                    }

                    .total-computation-wrapper{
                       
                        .note{
                            font-size: max(min(.8rem), .5vw);
                            font-weight: bold;
                            color:#797979;
                            text-align: center;
                            margin:1rem 0 1rem;
                        }
                        .computation{
                            width: 100%;
    
                            .comp{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                               
     
                        }
            
                    }

                    .total{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: bolder;
                        margin: 1rem 0 1rem;
                    }

                    
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .book-staycation {
        .booking-header {
            
        }
        .booking-content {
         gap: 1rem;
         flex-wrap: wrap-reverse;    

         .info-details{
            margin: 0;
            flex-basis: 100%;

         }
         .price-details{
            margin: 0;
            flex-basis: 100%;
         }
        }
    }
}