.create-listing-container {
    font-family: Poppins-Regular;
    width: 60rem;
    padding: 2rem;
    .close {
        padding-top: 3.5px;
        margin-right:.5rem;
    }
    &-create-listing-wrapper {
        overflow-y:auto;
        height: 80vh;
        margin-top:2rem;
        padding:1rem;
        form {
            .form-listing {
                display: flex;
                flex-direction: column;
                gap: 5rem;
                .describe-your-place {
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                        margin-bottom: 1rem;
                    }
                    .describe-your-place-wrapper {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                        gap: 1rem;
                        place-content: center;
                        .checkbox {
                            display: flex;
                            gap: .5rem;
                            input {
                                flex: none;
                                width: 1.5rem;
                                height: 1.5rem;
                                cursor: pointer;
                            }
                            .label {
                                font-weight: medium;
                            }
                        }
                    }
                    .others {
                        display: flex;
                        gap: .5rem;
                        align-items: center;
                        margin-top: 1rem;
                        input {
                            width: auto;
                            border: none;
                            background-color: transparent;
                            outline: none;
                            border-bottom: 1px solid rgb(226, 226, 226);
                            font-size: 1rem;


                        }
                    }
                }
                .type-of-place {
                    width: 100%;
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                        margin-bottom: 1rem;
                    }
                    .type-of-place-wrapper {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
                        gap: .5rem;
                        width: 100%;
                        .checkbox {
                            width: 100%;
                            border: 1px solid #68A86A;
                            background-color: #F7F7F7;
                            display: flex;
                            gap: .5rem;
                            border-radius: 5px;
                            padding: .5rem .5rem .5rem;
                            .checkbox-wrapper {
                                gap: .5rem;
                                display: flex;
                                flex-direction: row-reverse;
                                .info {
                                    .label {
                                        font-weight: bold;
                                    }
                                }
                                input {
                                    flex: none;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .where-is-located {
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                        margin-bottom: 1rem;
                    }
                    .where-is-located-wrapper {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
                        gap: .5rem;
                        width: 100%;
                        .input-wrapper {
                       
                            .label {
                                margin-bottom: .3rem;
                            }
                            input {
                                padding: 1rem;
                                border: 2px solid #63AB68;
                                width: 100%;
                                border-radius: 10px;
                                font-family: Poppins-Medium;
                                font-size: 15px;
                            }
                        }
                    }
                }
                .share-about-your-place {
                    margin: 1rem 0 1rem;
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                        margin-bottom: 1rem;
                    }
                    .share-about-your-place-wrapper {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(170px, 3fr));
                        gap: .5rem;
                        width: 100%;
                        .input-wrapper {
                            .label {
                                margin-bottom: .3rem;
                            }
                            input {
                                padding: 1rem;
                                border: 2px solid #63AB68;
                                max-width: 10rem;
                                border-radius: 10px;
                                font-family: Poppins-Medium;
                                font-size: 15px;
                            }
                        }
                    }
                }
                .inform-your-visitors-amenities-wrapper {
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                        margin-bottom: 1rem;
                    }
                    .inform-your-visitors-amenities-wrapper {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                        gap: 1rem;
                        place-content: center;
                        .checkbox {
                            display: flex;
                            gap: .5rem;
                            input {
                                flex: none;
                                width: 1.5rem;
                                height: 1.5rem;
                                cursor: pointer;
                            }
                            .label {
                                font-weight: medium;
                            }
                        }
                    }
                    .others {
                        display: flex;
                        gap: .5rem;
                        align-items: center;
                        margin-top: 1rem;
                        input {
                            width: auto;
                            border: none;
                            background-color: transparent;
                            outline: none;
                            border-bottom: 1px solid rgb(226, 226, 226);
                            font-size: 1rem;
                        }
                    }
                }
                .add-photos-place {
                    height: 100%;
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                    }
                    .add-photos-place-wrapper {
                        height: 100%;
                        .container {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            .side-panel {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                flex: 0 0 300px; // Fixed width for side panel
                                padding: 20px; // Adjust padding as needed
                                .image {
                                    width: calc(33.33% - 10px); // 33.33% width for each image, subtracting margin
                                    margin: 5px; // Margin between images
                                }
                                .image img {
                                    width: 100%;
                                    height: auto;
                                }
                                label {
                                    cursor: pointer;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    img {
                                        width: 5rem;
                                        height: auto;
                                    }
                                }
                            }
                            .gallery {
                                max-height: 25rem;
                                overflow-y: auto;
                                padding: 1rem;
                                display: grid;
                                grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
                                grid-auto-flow: auto;
                                gap: 1rem;
                                flex: 1;
                                height: 100%;
                                .image {
                                    max-width: 15rem;
                                    height: 100%;

                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
                .add-property-title {
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                        margin-bottom: 1rem;
                    }
                    .add-property-title-wrapper {
                        .input-wrapper {
                            .label {
                                margin-bottom: .3rem;
                            }
                            textarea {
                                padding: 1rem;
                                border: 2px solid #63AB68;
                                width: 50%;
                                height: 8rem;
                                border-radius: 10px;
                                font-family: Poppins-Medium;
                                font-size: 15px;
                                resize: none;
                            }
                        }
                    }
                }
                .describe-your-house {
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                        margin-bottom: 1rem;
                    }
                    .describe-your-house-wrapper {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                        gap: 1rem;
                        place-content: center;
                        .checkbox {
                            display: flex;
                            gap: .5rem;
                            input {
                                flex: none;
                                width: 1.5rem;
                                height: 1.5rem;
                                cursor: pointer;
                            }
                            .label {
                                font-weight: medium;
                            }
                        }
                    }
                    .others {
                        display: flex;
                        gap: .5rem;
                        align-items: center;
                        margin-top: 1rem;
                        input {
                            width: auto;
                            border: none;
                            background-color: transparent;
                            outline: none;
                            border-bottom: 1px solid rgb(226, 226, 226);
                            font-size: 1rem;


                        }
                    }
                }
                .create-description-house {
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                        margin-bottom: 1rem;
                    }
                    .create-description-house-wrapper {
                        .input-wrapper {
                            .label {
                                margin-bottom: .3rem;
                            }
                            textarea {
                                padding: 1rem;
                                border: 2px solid #63AB68;
                                width: 50%;
                                height: 10rem;
                                border-radius: 10px;
                                font-family: Poppins-Medium;
                                font-size: 15px;
                                resize: none;
                            }
                        }
                    }
                }
                .add-discounts {
                    width: 100%;
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                        margin-bottom: 1rem;
                    }
                    .add-discounts-wrapper {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
                        gap: .5rem;
                        width: 100%;
                        .checkbox {
                            width: 100%;
                            border: 1px solid #68A86A;
                            background-color: #F7F7F7;
                            display: flex;
                            gap: .5rem;
                            border-radius: 5px;
                            padding: .5rem .5rem .5rem;
                            .checkbox-wrapper {
                                gap: .5rem;
                                display: flex;
                                flex-direction: row-reverse;
                                .info {
                                    .label {
                                        font-size: clamp(1rem, 1vw, 8rem);
                                        font-weight: bolder;
                                    }
                                }
                                input {
                                    flex: none;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .does-your-place-have-this {
                    .title {
                        font-weight: bold;
                        font-size: clamp(1rem, 1vw, 8rem);
                        color: #68A86A;
                        margin-bottom: 1rem;
                    }
                    .does-your-place-have-this-wrapper {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                        gap: 1rem;
                        place-content: center;
                        .checkbox {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            input {
                                flex: none;
                                width: 1.5rem;
                                height: 1.5rem;
                                cursor: pointer;
                            }
                            .label {
                                font-weight: medium;
                            }
                        }
                    }
                }
                .important-things-to-know {
                    text-align: center;
                    .title {
                        font-size: 12px;
                        font-weight: bolder;
                    }
                    .description {
                        p {
                            margin: 0;
                            padding: 0;
                            font-size: 12px;
                            span {
                                cursor: pointer;
                                color: #63AB68;
                            }
                        }
                    }
                }
            }
            .btn-listing {
                margin-top: 1rem;
                button {
                    margin: auto;
                }
            }
        }
    }
}