<section class="your_address">
  <div class="header">
    <div class="title_wrapper">
      <div class="info_title">Your Address</div>
      <div class="sub_title">
        Use a permanent address where you can receive mail.
      </div>
    </div>
    <div class="close-button-normal" (click)="closeDialog()">
      <mat-icon style="margin-top: 3px">close</mat-icon>
    </div>
  </div>
  <div><hr /></div>
  <div class="where-is-located-wrapper">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm)">
      <div class="wrapper">
        <div class="input-wrapper">
          <label for="unit" class="label">Unit</label>
          <input
            [disabled]="isLoading"
            type="number"
            name="unit"
            placeholder="Enter your unit"
            formControlName="unit"
            required
          />
          <ng-container *ngIf="util.isFormInputValid(updateForm, 'unit')">
            <app-input-error-message
              [form]="updateForm"
              [errors]="unitErrors"
            />
          </ng-container>
        </div>

        <div class="input-wrapper">
          <label for="street" class="label">Street</label>
          <input
            [disabled]="isLoading"
            type="text"
            name="street"
            placeholder="Enter your street"
            formControlName="street"
            required
          />
          <ng-container *ngIf="util.isFormInputValid(updateForm, 'street')">
            <app-input-error-message
              [form]="updateForm"
              [errors]="streetErrors"
            />
          </ng-container>
        </div>

        <div class="input-wrapper">
          <label for="barangay" class="label">Barangay</label>
          <input
            [disabled]="isLoading"
            type="text"
            id="barangay"
            name="barangay"
            placeholder="Enter your barangay"
            formControlName="barangay"
            required
          />
          <ng-container *ngIf="util.isFormInputValid(updateForm, 'barangay')">
            <app-input-error-message
              [form]="updateForm"
              [errors]="barangayErrors"
            />
          </ng-container>
        </div>

        <div class="input-wrapper">
          <label for="city" class="label">City</label>
          <input
            [disabled]="isLoading"
            type="text"
            id="city"
            name="city"
            placeholder="Enter your city"
            formControlName="city"
            required
          />
          <ng-container *ngIf="util.isFormInputValid(updateForm, 'city')">
            <app-input-error-message
              [form]="updateForm"
              [errors]="cityErrors"
            />
          </ng-container>
        </div>

        <div class="input-wrapper">
          <label for="province" class="label">Province</label>
          <input
            [disabled]="isLoading"
            type="text"
            name="province"
            placeholder="Enter your province"
            formControlName="province"
            required
          />
          <ng-container *ngIf="util.isFormInputValid(updateForm, 'province')">
            <app-input-error-message
              [form]="updateForm"
              [errors]="provinceErrors"
            />
          </ng-container>
        </div>

        <div class="input-wrapper">
          <label for="country" class="label">Country</label>
          <input
            [disabled]="isLoading"
            type="text"
            name="country"
            placeholder="Enter your country"
            formControlName="country"
            required
          />
          <ng-container *ngIf="util.isFormInputValid(updateForm, 'country')">
            <app-input-error-message
              [form]="updateForm"
              [errors]="countryErrors"
            />
          </ng-container>
        </div>

        <div class="input-wrapper">
          <label for="zip" class="label">Zip Code</label>
          <input
            [disabled]="isLoading"
            type="number"
            id="zip"
            name="zip"
            placeholder="Enter your zip code"
            formControlName="zip"
            required
          />
          <ng-container *ngIf="util.isFormInputValid(updateForm, 'zip')">
            <app-input-error-message [form]="updateForm" [errors]="zipErrors" />
          </ng-container>
        </div>
      </div>
      <div><hr /></div>
      <div class="_btn">
        <button type="submit" [disabled]="isLoading" class="main-button">
          <span *ngIf="isLoading === true"
            ><mat-spinner [diameter]="20"
          /></span>
          <span *ngIf="isLoading === false">Save</span>
        </button>
      </div>
    </form>
  </div>
</section>
