<div class="guest_container">
  <div>
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="info-details_header">
    <div class="title">All Guest Members</div>
    <div class="subtitle">
      Manage and review the details of all guests in this listing.
    </div>
  </div>
  <div style="text-align: end; margin: 0 1.3rem" (click)="addGuestModal()">
    <button mat-raised-button>Add Guest</button>
  </div>
  <div class="table-container">
    <table class="airbnb-table">
      <thead>
        <tr>
          <th>Guest Name</th>
          <th>Status</th>
          <th>Date Checkout</th>
          <th>Time Checkout</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guest of guests">
          <td>{{ guest.guestName }}</td>
          <td>{{ guest.status }}</td>
          <td>{{ guest.dateCheckout | date : "shortDate" }}</td>
          <td>{{ guest.timeCheckout }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
