<div class="guest_container">
  <div>
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="info-details_header">
    <div class="title">All Guest Members</div>
    <div class="subtitle">
      Manage and review the details of all guests in this listing.
    </div>
  </div>
  <div style="text-align: end; margin: 0 1.3rem" (click)="addGuestModal()">
    <button mat-raised-button>Add Guest</button>
  </div>
  <div class="table-container">
    <table class="airbnb-table">
      <thead>
        <tr>
          <th>Guest Name</th>
          <th>Check-In Date</th>
          <th>Check-In Time</th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading && guests.length > 0">
        <tr *ngFor="let guest of guests">
          <td>{{ guest.name }}</td>
          <td>{{ guest.checkInDate | date : "shortDate" }}</td>
          <td>{{ guest.checkInTime }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && guests.length < 1">
        <tr>
          <td colspan="3">No Guest Found</td>
        </tr>
      </tbody>
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="3">
            <div style="display: grid; place-items: center">
              <span style="display: flex; align-items: center; gap: 0.25rem"
                ><mat-spinner [diameter]="15" /> Loading...</span
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
