<div class="groundrules_houserules" [formGroup]="formRegPropS13">
    <div class="header">
        <div class="_title_wrapper">Ground / House Rules</div>
        <div class="_subinfo ">Guests must agree to your ground rules/house rules before they book. <br><span>Learn more</span></div>
    </div>
    <div class="content">
        <!-- 
            <div class="switch_button_container" *ngFor="let childPet of petchildData">
                <div class="_title">{{childPet.title}}</div>
                <div class="switch_button_wrapper">
                    <div class="info_wrapper">
                        <div class="_info">
                           {{childPet.description}}
                        </div>
                    </div>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div> -->
            <div class="custom_title">Options Rules</div>
        <div class="describe-your-place-wrapper">
            <div class="checkbox" *ngFor="let houseRulesDatas of houseRulesData; let i = index ">
                <label class="custom-checkbox">
                    <input type="checkbox" typname="staycations" [value]="houseRulesDatas.title" (change)="handleSelectedRules($event, i)">
                    <span class="checkmark"></span>
                    <div class="label">{{houseRulesDatas.title}}</div>
                </label>
            </div>
  
        </div>
                  
        <div class="others">
            <div>Enter other rules here</div>
            <input type="text" name="house" [(ngModel)]="textValue"  placeholder="Type here.." [ngModelOptions]="{ standalone: true }"/>
            <button type="button" class="square-radius-btn" (click)="addCheckBox()">
                <mat-icon>add</mat-icon>
                Add Rules
            </button>
        </div>

        <div class="custom_title" style="margin-top: 1rem;">Add rules full descriptions</div>
            <div class="add_rules_full">
                <div class="input-wrapper">
                    <div class="input_wrapper">
                        <textarea type="text" name="houseRulesDetailed" formControlName="houseRulesDetailed" placeholder="Type here.."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
