<div [@fadeInAnimation]>
    <ng-container [formGroup]="formRegPropS8">
        <section class="describe-your-house">
            <div class="title-wrapper">
                Let’s describe your house
            </div>
            <div class="describe-your-house-wrapper">
                <div class="checkbox" *ngFor="let describeyourHouse of describehouse; let i = index">
                    <label class="custom-checkbox">
                        <input type="checkbox"  [ngClass]="{'checked': isChecked === i}" name="house" [value]="describeyourHouse.value"
                            (change)="handleSelectDesc($event,i)" />
                            <span class="checkmark"></span>
                        <div class="label">{{describeyourHouse.describeHouse}}</div>
                    </label>
                </div>
            </div>
            <ng-container *ngFor="let val of validation.descriptionText">
                <span class="val-err-msg" *ngIf="formRegPropS8.controls['descriptionText']?.hasError(val.type) && formRegPropS8.controls['descriptionText']?.length === 0">{{ val.msg }}</span>
            </ng-container>
            <div class="others">
                <div>Other:</div>
                <input type="text" name="house" value="" placeholder="Describe your house here.."
                    formControlName="descriptionTextOther" />
            </div>
        </section>
    </ng-container>
</div>