<div class="customer-dashboard" [@fadeInAnimation]>
    <section class="customer-dashboard-tab-header">
        <div class="header-text">
            Hey, Juan! Welcome.
        </div>
        <div class="tab-wrapper">
            <button class="main-button custom-btn" [ngClass]="{'active': selectedTab === 'reservation'}"
                (click)="gotoToday('reservation')">Reservation</button>
            <!-- pinalitan ko ng reservation imbis na today -->
            <button class="main-button custom-btn" [ngClass]="{'active': selectedTab === 'calendar'}"
                (click)="gotoCalendar('calendar')">Calendar</button>
            <button class="main-button custom-btn" [ngClass]="{'active': selectedTab === 'listing'}"
                (click)="gotoListing('listing')">Listing</button>
            <button class="main-button custom-btn" [ngClass]="{'active': selectedTab === 'inbox'}"
                (click)="gotoInbox('inbox')">Inbox</button>
        </div>
    </section>
    <div class="content">
        <div>
            <router-outlet></router-outlet>
        </div>
        <div class="container" *ngIf="instro">
            <div class="set" *ngFor="let item of items; let i = index" [ngClass]="{'active': i === activeIndex}">
                <div><img [src]="item.image" alt="Image {{i}}"></div>
                <div>
                    <p>{{ item.text }}</p>
                </div>
            </div>
        </div>
    </div>
</div>