<div class="learn-info">
    <div class="header">
        <div class="title">
            Long-term Stay Policy
        </div>
        <div class="close-button-normal" (click)="closeDialogInfo()"><mat-icon>close</mat-icon></div>
    </div>
    <hr>
    <div class="learn-info-wrapper">
        <div class="wrapper">
            <h1>Long-term cancellation policies for monthly stays</h1>
            <p>Your long-term cancellation policy applies to monthly stays, which are reservations of 28 or more consecutive nights. You can choose one of the following long-term cancellation policies:</p>
            
            <h3>Firm</h3>
            <p>To receive a full refund, guests must cancel at least 30 days before check-in
            If a guest cancels after that, you’ll be paid 100% for all nights spent, plus 30 additional nights
            If fewer than 30 nights remain on the reservation when the guest cancels, you’ll be paid 100% for all of those remaining nights</p>
            <h3>Strict</h3>
            <p>To receive a full refund, guests must cancel within 48 hours of booking, and the cancellation must occur at least 28 days before check-in
            If a guest cancels after that, you’ll be paid 100% for the nights already spent, plus the next 30 nights from the reservation
            If fewer than 30 nights remain on the reservation when the guest cancels, you’ll be paid 100% for all of those remaining nights</p>
        </div>

    </div>
</div>