<div class="your-trips-container">
  <div class="status-title">
    <div class="title-wrapper">
      <div class="title">Upcoming Reservation</div>
    </div>
    <div class="filter_search">
      <div class="search">
        <input
          type="search"
          placeholder="Search..."
          [(ngModel)]="searchKey"
          (input)="handleSearch($event)"
        />
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content_wrapper">
      <div *ngIf="!initialLoading" class="trip_card_wrapper">
        <div class="trip_card" *ngFor="let book of bookings; let i = index">
          <div class="card stacked">
            <div class="image">
              <img
                src="{{ setSrc(book.bookTo.cover) }}"
                alt="image"
                loading="lazy"
                draggable="false"
                (click)="viewDetails(book)"
              />
            </div>
          </div>
          <div class="content__card">
            <div class="info">
              <div class="title">{{ book.bookTo.name }}</div>
              <div class="subtitle">
                {{ book.bookTo.address.city }}
              </div>
              <div class="check-inout-date">
                <span>{{ book.duration.start | date : "MMM d, y" }}</span> -
                <span>{{ book.duration.end | date : "MMM d, y" }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="initialLoading" class="loading-wrapper">
        <app-booking-loader />
        <app-booking-loader />
        <app-booking-loader />
        <app-booking-loader />
      </div>
      <div *ngIf="!initialLoading && bookings.length < 1" class="empty-wrapper">
        <span>No Upcoming Trip</span>
      </div>
    </div>
    <div class="see-more-container" *ngIf="hasNextPage">
      <button
        (click)="seeMoreBookings()"
        [disabled]="seeMoreLoading"
        mat-raised-button
      >
        <span *ngIf="!seeMoreLoading">See More</span>
        <span *ngIf="seeMoreLoading"><mat-spinner [diameter]="20" /></span>
      </button>
    </div>
  </div>
</div>
