<div class="staycation-details" [@fadeInAnimation]>
     <div class="staycation-details-staycation-details-wrapper" *ngIf="details">
          <section class="property-title">
               <button (click)="backToMain()">
                    <mat-icon>chevron_left</mat-icon>
                    <span>Back</span>
               </button>
               <div class="title-wrapper">
                    <div class="title"></div>

                    <div class="star" (click)="wishListToggle()" >
                         <mat-icon *ngIf="wishlistIcons === true">flag</mat-icon>
                         <mat-icon *ngIf="wishlistIcons === false">outlined_flag</mat-icon>
                         <div>Wishlist</div>
                    </div>
                    
               </div>
          </section>

          <section class="image-grid" (click)="gotoGalleryPage(details._id)">
               <img [src]="img" *ngFor="let img of imageSets; let i = index" alt="images" loading="lazy"
                    draggable="false" [class.image-grid-col-2]="i === 0" [class.image-grid-row-2]="i === 0"
                    [class.other]="i !== 0">
          </section>

          <section class="details-reserve-wrapper">
               <section class="details-column">
                    <div class="details-header">
                         <div class="title">{{ details.name }}</div>
                         <div class="subtitle">{{ details.details.guests }} guest's - {{ details.details.bedrooms }}
                              bedroom's - {{ details.details.beds }} bed's - {{ details.details.bathroom }} bathroom's
                         </div>
                         <div class="rate">
                              <div>Rate</div>
                              <mat-icon>star</mat-icon>
                              <div>7.00</div>
                         </div>
                    </div>
                    <div class="details-user-avatar">
                         <div class="wrapper">
                         <div class="image-avatar">
                              <img [src]="details.host.img" loading="lazy" alt="Avatar" [draggable]="false">
                         </div>
                         <div>
                              <div class="name">{{ details.host.name }}</div>
                              <div class="years">Proprietor since 2 years</div>
                         </div>
                    </div>
                    <div class="message_proprietor">
                         <button>
                              <mat-icon>message</mat-icon>
                              Message Proprietor
                         </button>
                    </div>
                    </div>
                    <hr>
                    <div class="details-about">
                         <div class="title">Cancellation Policy</div>
                         <div class="description">
                              <div>Free cancellation before Sep 5</div>
                              <div> Get a full refund if you change your mind.</div>
                         </div>
                    </div>
                    <hr>
                    <div class="details-about">
                         <div class="title">About this place</div>
                         <div class="description">
                              Not available
                         </div>
                         <!-- <button>See more</button> -->
                    </div>
                    <hr>
                    <div class="details-about">
                         <div class="title">Address</div>
                         <div class="description">
                              {{ details.address }}
                         </div>
                    </div>
                    <hr>
                    <div class="details-where-you-sleep">
                         <div class="title-wrapper">
                              <div class="title">Where you'll sleep</div>
                              <div class="label">BedRoom</div>
                              <div class="sublabel">1 double bed, 1 single bed</div>
                         </div>
                         <div class="image">
                              <img src="../../assets/images/main/staycation-list/images/4.jpg" loading="lazy"
                                   alt="Avatar" [draggable]="false">
                         </div>
                    </div>
                    <hr>
                    <div class="details-whats-offer">
                         <div class="title">What this place offers</div>
                         <div class="description">
                              <div>
                                  {{ details.amenities}}
                              </div>
                         </div>
                    </div>
                    <hr>
                    <div class="details-reviews">
                         <div class="title">Reviews</div>
                         <div class="comments" *ngIf="totalReviews === 0 || latestReview ===0">
                              <p>No reviews yet!</p>
                         </div>
                         <div class="comments" *ngIf="totalReviews > 0">
                              <div class="rate-stars">
                                   <mat-icon>stars</mat-icon>
                                   <div>{{ averageStar }}</div>
                              </div>
                              <div>-</div>
                              <div class="number-reviews">
                                   <p>{{ totalReviews }} <span>reviews</span></p>
                              </div>

                         </div>
                         <div class="reviewer" *ngIf="latestReview">
                              <div class="avatar-wrapper">
                                   <div class="avatar">
                                        <img src="../../assets/images/main/staycation-details/avatarreviewer.png"
                                             loading="lazy" alt="Avatar" [draggable]="false">
                                   </div>
                                   <div class="name-address-wrapper">
                                        <div class="name">{{ latestReview.name }}</div>
                                        <div class="address">{{ latestReview.address }}</div>
                                   </div>
                              </div>
                              <div class="comments">
                                   {{ latestReview.comment }}
                              </div>
                              <button>See more</button>
                         </div>

                    </div>
               </section>
               <section class="reserve-sticky-column">
                    <form>
                         <div class="reserve-sticky-column-wrapper">
                              <div class="rate-night">
                                   <p>₱<span> {{ details.price.common }} </span>night</p>
                              </div>
                              <div class="date-checkin-out">
                                   <div class="checkin-out-style">
                                        <div class="title">Check-in date</div>
                                        <div class="calendar-icon"></div>
                                        <input type="date" name="date" class="custom-date-input">
                                   </div>
                                   <div class="checkin-out-style">
                                        <div class="title">Check-out date</div>
                                        <div class="calendar-icon"></div>
                                        <input type="date" name="date" class="custom-date-input">
                                   </div>
                              </div>
                              <div class="add-guest">
                                   <div class="guest-wrapper">
                                        <div class="addguest">Add guest</div>
                                        <mat-icon aria-hidden="false" aria-label="people" fontIcon="people"></mat-icon>
                                   </div>
                                   <hr>
                                   <div class="addguest-inputs">
                                        <div class="addguest-inputs-add-guest-container">
                                             <div class="input-addguest">
                                                  <label for="adults">Adults (13+ years):</label>
                                                  <input type="number" [(ngModel)]="guest_adults" id="adults"
                                                       name="adults" min="0" placeholder="0" required><br>
                                             </div>
                                             <div class="input-addguest">
                                                  <label for="children">Children (2-12 years):</label>
                                                  <input type="number" [(ngModel)]="guest_children" id="children"
                                                       name="children" min="0" placeholder="0" required><br>
                                             </div>
                                             <div class="input-addguest">
                                                  <label for="infants">Infants (0-1 years):</label>
                                                  <input type="number" [(ngModel)]="guest_infants" id="infants"
                                                       name="infants" min="0" placeholder="0" required><br>
                                             </div>
                                             <div class="input-addguest">
                                                  <label for="pets">Pets:</label>
                                                  <input type="number" [(ngModel)]="guest_pets" id="pets" name="pets"
                                                       min="0" placeholder="0" required><br>
                                             </div>

                                        </div>
                                   </div>
                              </div>
                              <button (click)="navigateToBookStaycation()">Reserve</button>
                         </div>
                    </form>
                    <div class="total-computation-wrapper">
                         <div class="note">You won’t be charged yet</div>
                         <div class="computation">
                              <div class="comp">
                                   <td><span>₱ {{ details.price.common }}</span> x 1 night</td>
                                   <td>₱ {{ details.price.common }}</td>
                              </div>
                              <div class="comp" *ngFor="let fee of serviceCharge">
                                   <td>{{ fee.name }}</td>
                                   <td>₱ {{ fee.price }}</td>
                              </div>
                         </div>

                    </div>
                    <div class="total">
                         <div>Total before taxes</div>
                         <div>₱ {{ getTotalBeforeTax(details.price.common) }} total</div>
                    </div>
               </section>

          </section>
     </div>
</div>