.notification {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height:90vh;


    &-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 98%;
        overflow-y: auto;
        padding: 1% 0 1%;
    

        .title-wrapper {
            display: flex;

            button {
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                gap: .3;
                text-decoration: underline;
                cursor: pointer;
            }

            .title {
                padding: 0 1rem 0;
                font-weight: bold;
                font-size: clamp(1.5rem, 1.5vw, 8rem);
            }
        }

        .content-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
            padding: 0 2rem 0;
            margin-top: 1rem;
          

            mat-card {
                margin-top: 2%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                border:1px solid rgb(248, 248, 248);

                .desc_wrapper {
                    .title {
                        font-weight: bold;

                    }

                    .desc {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-height: 3em;
                        /* 2 lines * line-height (e.g., 1.5em each) */
                        line-height: 1.5em;
                        /* Set the line-height according to your design */

                    }
                }

                .avatar {

                    max-width: 5rem;

                    img {
                        width: 100%;
                        height: auto;
                    }

                }


            }

            mat-card:hover {
                background-color: rgb(238, 238, 238);
            }

            .not-found-custom{
                flex: 1;
                height: 100%;
            }
        }
    }
}