<div class="notification">
    <div class="title-wrapper">
        <div class="title">Notification</div>
   </div>
    <div class="notification-wrapper">
        <mat-card *ngFor="let avatar_img of avatar">
            <div class="avatar">
                <img src="../../assets/images/main/staycation-details/avatarreviewer.png" loading="lazy"
                    alt="Avatar" [draggable]="false">
            </div>
            <div>
                <div class="title">Message</div>
                <div class="desc">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, odio temporibus accusamus
                        officia vero deleniti natus quo enim harum corporis itaque error eligendi consequatur nesciunt
                        ad labore veritatis illo laudantium.</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>