<div class="notification" [@fadeInAnimation]>

    <div class="notification-wrapper">
        <div class="title-wrapper">
            <!-- <button (click)="goBack()">
                <mat-icon>chevron_left</mat-icon>
                <span>Back</span>
           </button> -->
            <div class="title">Notification</div>
        </div>
        <div class="content-wrapper">
        <div *ngIf="avatar.length > 0">
            <mat-card *ngFor="let avatar_img of avatar">
                <div class="avatar">
                    <img src="../../assets/images/main/staycation-details/avatarreviewer.png" loading="lazy"
                        alt="Avatar" [draggable]="false">
                </div>
                <div class="desc_wrapper">
                    <div class="title">Message</div>
                    <div class="desc">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, odio temporibus accusamus
                            officia vero deleniti natus quo enim harum corporis itaque error eligendi consequatur
                            nesciunt
                            ad labore veritatis illo laudantium.</p>
                    </div>
                </div>
            </mat-card>
        </div>
            <div class="not-found" *ngIf="avatar === 0">
                You don't have notification right now.
            </div>
    </div>
    </div>
</div>