<div class="notification" [@fadeInAnimation]>

    <div class="notification-wrapper">
        <div class="title-wrapper">
            <!-- <button (click)="goBack()">
                <mat-icon>chevron_left</mat-icon>
                <span>Back</span>
           </button> -->
            <div class="title">Notification</div>
        </div>
        <div class="content-wrapper">
            <div *ngIf="dataNotif.length > 0">
                <mat-card *ngFor="let booking of dataNotif; let i = index">
                    <div class="avatar">
                        <img src="{{booking.avatar}}" loading="lazy" alt="Avatar" [draggable]="false">
                    </div>
                    <div class="desc_wrapper">
                        <div class="title">{{booking.title}}</div>
                        <div class="desc">
                            {{booking.desc}}
                        </div>
                        <div class="date">
                            {{booking.date}}
                        </div>
                    </div>
                    <button class="close-button-small" (click)="deleteCard(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card>
            </div>
            <div class="not-found" *ngIf="dataNotif.length === 0">
                You don't have notification right now.
            </div>
        </div>
    </div>
</div>