<div class="inbox-container">
    <div class="inbox-container-inbox-wrapper">
        <section class="list-message">
            <div class="title">Messages</div>
            <div class="message-search card">
                <div class="icon"><mat-icon>search</mat-icon></div>
                <input type="text" name="search-listing" placeholder="Search" value="" />
            </div>
            <div class="list-card-message">
                <div class="list-card card">
                    <div class="avatar">
                        <img src="../../assets/images/main/staycation-details/avatarreviewer.png" loading="lazy"
                            alt="Avatar" [draggable]="false">
                    </div>
                    <div class="message-name">
                        <div class="name">Oliver Belen</div>
                        <div class="message">We enjoyed our stay! The space is clean and well-organized, providing a...
                        </div>
                    </div>
                    <div class="time-sent">Today</div>
                </div>
                <div class="list-card card">
                    <div class="avatar">
                        <img src="../../assets/images/main/staycation-details/avatarreviewer.png" loading="lazy"
                            alt="Avatar" [draggable]="false">
                    </div>
                    <div class="message-name">
                        <div class="name">Oliver Belen</div>
                        <div class="message">We enjoyed our stay! The space is clean and well-organized, providing a...
                        </div>
                    </div>
                    <div class="time-sent">Today</div>
                </div>
                <div class="list-card card">
                    <div class="avatar">
                        <img src="../../assets/images/main/staycation-details/avatarreviewer.png" loading="lazy"
                            alt="Avatar" [draggable]="false">
                    </div>
                    <div class="message-name">
                        <div class="name">Oliver Belen</div>
                        <div class="message">We enjoyed our stay! The space is clean and well-organized, providing a...
                        </div>
                    </div>
                    <div class="time-sent">Today</div>
                </div>
                <div class="list-card card">
                    <div class="avatar">
                        <img src="../../assets/images/main/staycation-details/avatarreviewer.png" loading="lazy"
                            alt="Avatar" [draggable]="false">
                    </div>
                    <div class="message-name">
                        <div class="name">Oliver Belen</div>
                        <div class="message">We enjoyed our stay! The space is clean and well-organized, providing a...
                        </div>
                    </div>
                    <div class="time-sent">Today</div>
                </div>
            </div>
        </section>

        <section class="view-message card">
            <div class="header">
                <div class="avatar">
                    <img src="../../assets/images/main/staycation-details/avatarreviewer.png" loading="lazy"
                        alt="Avatar" [draggable]="false">
                </div>
                <div class="name">Oliver Belen</div>
            </div>

            <div class="content">
                <div class="sender ">
                    <div class="sender-wrapper">
                        <div class="avatar">
                            <img src="../../assets/images/main/staycation-details/avatarreviewer.png" loading="lazy"
                                alt="Avatar" [draggable]="false">
                        </div>
                        <div class="message card">
                            We enjoyed our stay! The space is clean
                            and well-organized, and well providing amenities
                        </div>
                    </div>
                </div>
                <div class="receiver ">
                    <div class="receiver-wrapper">
                        <div class="message card">
                            We enjoyed our stay! The space is clean
                            and well-organized, and well providing amenities
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="input-form ">
                    <div class="card input"><input type="text" name="input-form" value="" placeholder="Message here..."/></div> 
                    <div class="mat-icon"><mat-icon>send</mat-icon></div>
                    <div class="mat-icon"><mat-icon>image</mat-icon></div>
                </div>
            </div>
        </section>
        
    </div>
</div>