/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

*, *::before,*::after { box-sizing: border-box;}
html{box-sizing: border-box;}

html, body { height: 100%; }
body { margin: 0; font-family:Poppins-Regular}




@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


@font-face {
  font-family:Poppins-Regular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family:Poppins-Medium;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family:Poppins-Bold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}


.main-button{
  display: block;
  background-color: #63AB68;
  border: none;
  max-width:fit-content;
  padding: 0.6rem 3rem 0.6rem 3rem;
  border-radius: 5rem;
  font-family: Poppins-regular;
  font-weight: bolder;
  white-space: nowrap;
  color:white;
  cursor: pointer;
}
.main-button:hover{
  background-color: #000000;
  color: #63AB68;
}

.main-button-outline{
  display: block;
  background-color: transparent;
  border: 2px solid #63AB68;
  width:100%;
  padding: 0.6rem 3rem 0.6rem 3rem;
  border-radius: 5rem;
  font-family: Poppins-regular;
  font-weight: bolder;
  white-space: nowrap;
  color:black;
  cursor: pointer;
}
.main-button-outline:hover{
  background-color: #000000;
  color: #63AB68;
  border:2px solid white;
}

.close-button {
 border-radius: 100%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: black;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  color: #63AB68;
  cursor: pointer;
}

.close-button:hover{
  background-color: black;
  color: #63AB68;
}

.close-button-normal {
  border-radius: 100%;
   color: black;
   width: 2rem;
   height: 2rem;
   display: flex;
   justify-content: center;
   color: #63AB68;
   cursor: pointer;
   padding-top:3px;
 }
 
 .close-button-normal:hover{
   background-color: black;
   color: #63AB68;
 }

 
        
 .fc .fc-toolbar-title {
  /* Your custom color styles here */
  color: #63AB68 !important ;
}

.fc .fc-button-primary { /* Styles for primary buttons (like prev, next, today) */
  color: white ;
}


.fc .fc-header-toolbar {
  background-color: white ;
}
.fc .fc-button-primary .fc-icon { /* Styles for icons within primary buttons */
  color: #63AB68  ;
}

.fc .fc-toolbar-title {
  color:#63AB68 !important; /* Blue title text */
}

.fc .fc-button-primary {
  background-color: white;
  box-shadow: 1px 1px 5px #88888877;
  border:none;
  border-radius:2px !important;
  margin-right:1rem;
  border-style: none;
  color: #63AB68 !important; /* Red button text */
}

.fc .fc-button-primary-active {
  background-color: white !important;
}

.val-err-msg {
  color: red;
}