
    <ng-container [formGroup]="formRegPropS2">
        <section class="type-of-place">
            <div class="title-wrapper">
                Type of place will guest have
            </div>
            <div class="type-of-place-wrapper">
                <div class="checkbox" *ngFor="let typePlace of typeofplace; let i = index">
                    <div class="checkbox-wrapper" (click)="handleRadiobtn(i)">
                        <div class="radio-button">
                            <input type="radio" [ngClass]="{'checked': isSelected === i }" [value]="typePlace.value" />
                        </div>
                        <div class="info">
                            <div class="label">{{typePlace.label}}</div>
                            <div class="desc">{{typePlace.desc}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngFor="let val of validation.placeType">
                <span class="val-err-msg" *ngIf="formRegPropS2.controls['placeType']?.hasError(val.type) && formRegPropS2.controls['placeType']?.value === ''">
                    {{ val.msg }}
                </span>
            </ng-container>
            <div *ngIf="formRegPropS2.controls['placeType']?.value === 'room_shared'">
                <div class="input-wrapper">
                    <div class="label">Maximum allowed check-ins per day</div>
                    <input type="number" name="maxBookingAllowedPerDay" formControlName="maxBookingAllowedPerDay" />
                </div>
            </div>
        </section>
    </ng-container>

