<ng-container [formGroup]="formRegPropS2" [@fadeInAnimation]>
    <section class="type-of-place">
        <div class="title-wrapper">
            Type of place will guest have
        </div>
        <div class="type-of-place-wrapper">
            <div class="checkbox" *ngFor="let typePlace of typeofplace">
                <div class="checkbox-wrapper">
                    <div class="info">
                        <div class="label">{{typePlace.label}}</div>
                        <div class="desc">{{typePlace.desc}}</div>
                    </div>
                    <input type="radio" [value]="typePlace.value" formControlName="placeType" required/>
                </div>
            </div>
        </div>
    </section>
</ng-container>