<div class="listing-container">
  <div class="login-container-wrapper">
    <div class="close-button close">
      <mat-icon aria-hidden="false" aria-label="close" fontIcon="close" mat-dialog-close></mat-icon>
    </div>
    <div class="title">Host Listings</div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="cover">
        <th mat-header-cell *matHeaderCellDef>Cover Photo</th>
        <td mat-cell *matCellDef="let element">
          <div class="custom-property">
            <img *ngIf="element.cover !== ''" [src]="element.cover" />
          </div>
          <div *ngIf="element.cover === ''">No cover yet</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="placeType">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.type }}
        </td>
      </ng-container>
      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef>Description Filter</th>
        <td mat-cell *matCellDef="let element">
          {{ element.desc }}
        </td>
      </ng-container>
      <ng-container matColumnDef="approved">
        <th mat-header-cell *matHeaderCellDef>Approved</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon [fontIcon]="(element.isApproved) ? 'check_circle' : 'close'"></mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="listed">
        <th mat-header-cell *matHeaderCellDef>Listed</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon [fontIcon]="(element.isListed) ? 'check_circle' : 'close'"></mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="openListing(element.id)">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator #paginator [length]="total" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons (page)="handlePageSizeLimit($event)"></mat-paginator>
  </div>
</div>