<div class="home-container">
    <header class="home-container-header">
        <app-nav [isAuth]="isAuth"></app-nav>
    </header>
    <section class="home-container-body">
        <section class="home-container-body-hero_section">
            <div class="hero-wrapper">
                <div class="title" [@fadeInAnimation]>
                    <div>
                        <h1><span>Discover</span> Hotels, Resorts, Villas, <br /> and More!</h1>
                        <p class="font-regular">TaraGo the optimal booking site for <br /> your relaxation needs.</p>
                    </div>
                    <div>
                        <h1> <span>Discover</span> Hotels, Resorts, Villas, and More!</h1>
                        <p class="font-regular">TaraGo the optimal booking site for your relaxation needs.</p>
                    </div>

                    <div class="custom-main-button">
                        <button class="main-button" (click)="navigateToMain()">View More</button>
                    </div>
                </div>
                <div class="main-image" [@fadeInAnimation]>
                    <swiper class="swiper-container" #swiper [slidesPerView]="1" [spaceBetween]="25" [pagination]="true"
                        [draggable]="false" [loop]="true" [autoplay]="true">
                        >
                        <ng-template class="custom-swiper-slide" swiperSlide *ngFor="let heroimg of heroImages">
                            <div class="images">
                                <img src={{heroimg.images}} alt="hero-visual-1" draggable="false" loading="lazy" />
                            </div>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </section>
        <section class="home-container-body-section_1">
            <div class="section-1-wrapper">
                <div class="wrapper">
                    <div class="header">
                        <div class="title">Premier destinations in the Philippines</div>
                        <div class="subtitle">These popular destinations have a lot to offer</div>
                    </div>
                    <div class="swiper-main-container">
                        <swiper class="swiper-container" #swiper [slidesPerView]="4" [spaceBetween]="50"
                            [pagination]="true" (autoplayPause)="true" [draggable]="false" [loop]="true" [breakpoints]="{
                    '200': {
                        slidesPerView: 1,
                        spaceBetween: 10,
                    },

                    '300': {
                        slidesPerView: 2,
                        spaceBetween: 10,
                    },
                     '500': {
                        slidesPerView: 2,
                        spaceBetween: 10,
                    },
                    '700': {
                        slidesPerView: 3,
                        spaceBetween: 10,
                    },
                    
                    '1000': {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },
                    '1500': {
                        slidesPerView: 4,
                        spaceBetween: 30,
                    }
                }">
                            <ng-template class="custom-swiper-slide" swiperSlide *ngFor="let dest of destinations">
                                <div class="images">
                                    <img src={{dest.images}} alt="images" draggable="false" loading="lazy" />
                                    <div class="desc">{{dest.description}}</div>
                                </div>
                            </ng-template>
                        </swiper>
                    </div>
                </div>
            </div>


        </section>
        <section class="home-container-body-section_2">
            <div class="section-2-wrapper">
                <div class="image">
                    <img src="./assets/images/home/section2/family.jpg" alt="image" />
                </div>
                <div class="info-wrapper">
                    <div class="info-header">
                        <div class="title">Make your staycation</div>
                        <div class="title">
                            <div><span>hassle-free with</span></div>
                            <img src="./assets/images/home/section2/taragologo.png" alt="logo" />
                        </div>
                        <div class="title-mobile">
                            <div>Make your staycation <span>hassle-free with</span></div>
                            <div><img src="./assets/images/home/section2/taragologo.png" alt="logo" /></div>
                        </div>
                    </div>
                    <div class="info-content">
                        <div class="info-content-1" *ngFor="let staycationGuide of staycationguide">
                            <h1 class="info-header">
                                {{staycationGuide.title}}
                            </h1>
                            <div class="info-paragraph">
                                {{staycationGuide.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-container-body-section_1">
            <div class="section-1-wrapper">
                <div class="wrapper">
                    <div class="header">
                        <div class="title">Premier destinations in the Philippines</div>
                        <div class="subtitle">These popular destinations have a lot to offer</div>
                    </div>
                    <div class="swiper-main-container">
                        <swiper class="swiper-container" #swiper [slidesPerView]="4" [spaceBetween]="50"
                            [pagination]="true" (autoplayPause)="true" [draggable]="false" [loop]="true" [breakpoints]="{
                    '200': {
                        slidesPerView: 1,
                        spaceBetween: 10,
                    },

                    '300': {
                        slidesPerView: 2,
                        spaceBetween: 10,
                    },
                     '500': {
                        slidesPerView: 2,
                        spaceBetween: 10,
                    },
                    '700': {
                        slidesPerView: 3,
                        spaceBetween: 10,
                    },
                    
                    '1000': {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },
                    '1500': {
                        slidesPerView: 4,
                        spaceBetween: 30,
                    }
                }">
                            <ng-template class="custom-swiper-slide" swiperSlide *ngFor="let dest of destinations">
                                <div class="images">
                                    <img src={{dest.images}} alt="images" draggable="false" loading="lazy" />
                                    <div class="desc">{{dest.description}}</div>
                                </div>
                            </ng-template>
                        </swiper>
                    </div>
                </div>
            </div>


        </section>
        <section class="home-container-body-section_3">
            <div>
                <mat-card class="section_3-mat-card">
                    <form>
                        <div class="section_3-wrapper">
                            <div class="section_3-wrapper-content">
                                <div class="inputs-wrapper">
                                    <div class="address">
                                        <div class="title">Address or area</div>
                                        <div class="location-select">
                                            <select>
                                                <option value="" disabled selected>Select an address</option>
                                                <option value="address1">Address 1</option>
                                                <option value="address2">Address 2</option>
                                                <!-- Add more options as needed -->
                                            </select>
                                            <div class="pin-icon"></div>
                                        </div>
                                    </div>
                                    <div class="typeofspace">
                                        <!-- <mat-radio-group [(ngModel)]="selectedOption" name="typeofsource">
                                            <mat-radio-button [value]="'option1'">Entire Space</mat-radio-button>
                                            <mat-radio-button [value]="'option2'">Private Room</mat-radio-button>
                                        </mat-radio-group> -->
                                        <div class="typeofspace-wrapper" >
                                            <label class="custom-radio" *ngFor="let option of options">
                                              <input
                                                type="radio"
                                                [value]="option.value"
                                                name="customRadio"
                                                (change)="onRadioChange($event)"
                                                [checked]="selectedValue === option.value"
                                              />
                                              <span class="radio-mark"></span>
                                              {{ option.label }}
                                            </label>
                                          </div>
                                    </div>
                                    <div class="numbers">
                                        <div class="numberofnights">
                                            <div class="title">Nights</div>
                                            <input type="number" name="nights" placeholder="Number of Nights" />
                                        </div>
                                        <div class="numberofbedrooms">
                                            <div class="title">Bedrooms</div>
                                            <input type="number" name="bedrooms" placeholder="Number of Bedrooms" />
                                        </div>
                                    </div>

                                </div>
                                <div class="result-wrapper">
                                    <div class="estimate-inputs">
                                        <h1>₱</h1>
                                        <input type="text" name="result" value="0.00" readonly />
                                    </div>
                                    <div class="estimate">Estimate your pontential income with</div>
                                    <div class="image-logo">
                                        <img src="./assets/images/home/section2/taragologo.png" alt="logo" />
                                    </div>

                                </div>
                            </div>
                            <div class="button-wrapper">
                                <button class="learn">Learn how we estimate your earnings</button>
                                <button class="main-button">Estimate</button>
                            </div>
                        </div>

                    </form>
                </mat-card>
            </div>
            <div class="airplane_image">
                <img src="./assets/images/home/section3/lineairplain.png" alt="image" />
            </div>
        </section>
        <section class="home-container-body-section_4">
            <div class="section_4-wrapper">
                <div class="title">Your questions, <br><span>answered for you.</span></div>
                <div class="questions">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Is my place right for TaraGo?
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description> -->
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Is my place right for TaraGo?
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description> -->
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Is my place right for TaraGo?
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description> -->
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Is my place right for TaraGo?
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description> -->
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </section>
        <section class="home-container-body-section_5">
            <div class="section_5-wrapper">
                <div class="girl-image">
                    <img src="./assets/images/home/section5/girl.png" alt="girl" />
                </div>
                <div class="content">
                    <h1>
                        Still have questions?
                    </h1>
                    <p class="info">
                        <span>Contact us</span> or get answers from an
                        experienced proprietor near you.
                    </p>
                    <div class="btn">
                        <button class="main-button">Find proprietor</button>
                    </div>
                </div>
            </div>
            <div class="wavecolor-image">
                <img src="./assets/images/home/section5/wavecolor.png" alt="wavecolor" />
            </div>
        </section>
    </section>
    <footer class="home-container-footer">
        <app-footer></app-footer>
    </footer>
</div>