<mat-progress-bar value="50" mode="indeterminate" color="primary" *ngIf="isDisconnected"></mat-progress-bar>
<nav>
    <div class="nav-wrapper">
        <div class="header-logo">
            <img src="./assets/images/home/header/navigation/tarago.png" alt="logo" routerLink="/"/>
        </div>

        <div class="avatar-account-menu-wrapper" *ngIf="isAuth">
            <div class="account-type-btn" routerLink="/register-proprietorship" *ngIf="!isHost">Become a proprietor</div>
            <div class="avatar-account" [matMenuTriggerFor]="menu">
                <button class="menu" mat-button><mat-icon>menu</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="be_a_proprietor" routerLink="/register-proprietorship" *ngIf="!isHost">Become a proprietor</button>
                    <a mat-menu-item routerLink="/main/users-profile">Profile</a>
                    <a mat-menu-item routerLink="/main/message">Messages</a>
                    <a mat-menu-item routerLink="/main/notification">Notification</a>
                    <a mat-menu-item routerLink="/main/trips">Trips</a>
                    <a mat-menu-item routerLink="/main/wishlist">Wishlist</a>
                    <a mat-menu-item routerLink="/main/dashboard" *ngIf="isHost">Manage Listing</a>
                    <a mat-menu-item routerLink="/main/accounts-settings">Account Setting</a>
                    <a mat-menu-item>Help</a>
                    <a mat-menu-item (click)="logout()">Logout</a>
                </mat-menu>
                <img [src]="profileImg" loading="lazy" alt="Avatar" [draggable]="false">
            </div>
        </div>

        <div class="header-login-button" *ngIf="!isAuth">
            <button (click)="openLoginDialog()">Login</button>
            <div class="divider"></div>
            <button class="sign-up" (click)="openSignupDialog()">SignUp</button>
        </div>
    </div>
</nav>