nav {
    border-bottom: 1px solid #D9D9D9;
    font-family: Poppins-Regular;
    height: 4rem;


    .nav-wrapper {
        // border: 1px solid black;
        max-width: 70%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            cursor: pointer;
            // border: 1px solid black;
            max-width: 5rem;
            height: auto;
            display: inline-flex;
            gap: 1rem;

            img {
                // border: 1px solid black;
                width: 100%;
                height: auto;
            }

        }

        .avatar-account-menu-wrapper {
            display: flex;
            gap: 1rem;
            align-items: center;

            .account-type-btn {
                cursor: pointer;
                text-decoration: underline;
                color: #63AB68;
                padding:.5rem;
                
            }
            .account-type-btn:hover{
                background-color: black;
                padding:.5rem 1rem ;
                border-radius:20px;
                text-decoration: none;
            }

            .avatar-account {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 1rem;
                background-color: white;
                box-shadow: 1px 1px 5px #88888877;
                padding: 3px 10px 3px;
                border-radius: 100px;
  
                img {
                    height: 35px;
                    width: 35px;
                    border-radius: 100%;
                    border: 1px solid #63AB68;
                }

                .menu {
                    cursor: pointer;
                    padding: 7px 7px 3px;
                    border-radius: 100%;
                    color: black;
                    border: none;
                    outline: none;
                    background-color: transparent;

                    mat-icon {
                        margin: 0;
                        color: #63AB68;
                    }

     

                }

            }
      

            .avatar-account:hover {
                color: #63AB68;
            }


        }



        .header-login-button {
            display: flex;
            align-items: center;
            gap: 1rem;
            height: 1.5rem;

            button {
                font-family: Poppins-Regular;
                color: #63AB68;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .sign-up {
                font-weight: bolder;
            }

            button:hover {
                text-decoration: underline;
            }

            .divider {
                width: 2px;
                height: 100%;
                background-color: #63AB68;

            }

        }
    }
}

@media only screen and (max-width: 1400px) {
    nav {
        .nav-wrapper {

            max-width: 80%;
        }
    }
}

@media only screen and (max-width: 1000px) {
    nav {
        .nav-wrapper {
            max-height: 4rem;
            padding: 0rem 1rem 0rem;
            max-width: 98%;
        }
    }
}


@media only screen and (max-width: 500px) {
    nav {
        .nav-wrapper {

            .avatar-account-menu-wrapper {
    
                .account-type-btn {
                display: none;
                    
                }

                .be_a_proprietor{
                    display: block;
                }
            }
        }
    }
}

@media only screen and (min-width: 500px) {
    nav {
        .nav-wrapper {

            .avatar-account-menu-wrapper {
    
                .account-type-btn {
                display: block;
                    
                }

                .be_a_proprietor{
                    display: none !important;
                }
            }
        }
    }
}


