<mat-drawer-container class="messenger">
  <mat-drawer
    #drawer
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    class="message-list"
  >
    <app-message-sidenav />
  </mat-drawer>
  <main class="message-content">
    <div class="header">
      <div *ngIf="isMobile" class="message-menu" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </div>
      <div class="avatar">
        <img
          src="../../assets/images/main/staycation-details/avatarreviewer.png"
          loading="lazy"
          alt="Avatar"
          [draggable]="false"
        />
      </div>
      <div class="name">Oliver Belen</div>
    </div>
    <div class="messages">
      <app-message-content style="flex: 1; overflow: auto" />
      <app-message-form />
    </div>
  </main>
</mat-drawer-container>
