.messenger {
  width: 100%;
  height: calc(100vh - 4rem);
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;

  .no-message-found {
    flex: 1;
    display: grid;
    place-items: center;
    font-weight: bold;
    color: #808080;
  }

  .message-list {
    width: 20rem;
    max-width: 20rem;
    min-width: 20rem;
    height: 100%;
    border: none;
  }

  .message-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: center;
  }

  .messages {
    flex: 1;
    height: calc(100% - 10rem);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: center;
  }

  .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(224, 224, 224);

    &-user {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
    }

    .avatar {
      max-width: 35px;
      min-width: 35px;
      width: 35px;
      max-height: 35px;
      min-height: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .name {
      font-size: clamp(1rem, 0.8vw, 8rem);
      font-weight: bolder;
    }

    .message-menu {
      cursor: pointer;
      height: 2.8rem;
      width: 2.8rem;
      border-radius: 100%;

      mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }

    .message-menu:hover {
      background-color: black;
      color: #68a86a;
    }
  }
}
.messages-wrapper {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
