<form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm)">
  <div class="message_modal">
    <div class="header">
      <div class="title">Message Proprietor</div>
      <div class="close-button-normal" (click)="closeDialogMessage()">
        <mat-icon>close</mat-icon>
      </div>
    </div>

    <hr />
    <div class="message_modal-content">
      <div class="details-user-avatar" *ngIf="!authLoading && !hostLoading">
        <div class="wrapper">
          <div class="image-avatar">
            <img
              [src]="authImage"
              loading="lazy"
              alt="Avatar"
              [draggable]="false"
            />
          </div>
          <div>
            <div class="name">{{ fullName }}</div>
            <div>Traveller</div>
          </div>
        </div>
        <div class="forward_icon"><mat-icon>forward</mat-icon></div>
        <div class="wrapper">
          <div class="image-avatar">
            <img
              src="{{ hostImage }}"
              loading="lazy"
              alt="Avatar"
              [draggable]="false"
            />
          </div>
          <div>
            <div class="name">{{ hostName }}</div>
            <div>Proprietor</div>
          </div>
        </div>
      </div>
      <div
        style="display: grid; place-items: center"
        *ngIf="authLoading || hostLoading"
      >
        <span style="display: flex; align-items: center; gap: 0.25rem"
          ><mat-spinner [diameter]="15" /> Loading User Data...</span
        >
      </div>

      <div class="message_modal_input">
        <div class="input-wrapper">
          <div class="label">Type your message here</div>
          <textarea
            [disabled]="isLoading || authLoading || hostLoading"
            formControlName="message"
            type="text"
            name="street"
            value=""
            placeholder="Type here.."
          >
          </textarea>
          <app-input-error-message
            [form]="messageForm"
            [errors]="messageErrors"
          />
        </div>
      </div>
    </div>

    <div class="footer">
      <button [disabled]="isLoading" type="submit" class="main-button">
        <span *ngIf="isLoading === true"><mat-spinner [diameter]="20" /></span>
        <span
          style="display: block; display: flex; align-items: center; gap: 10px"
          *ngIf="isLoading === false"
          >Send Message <mat-icon>send</mat-icon></span
        >
      </button>
    </div>
  </div>
</form>
