<ng-container [formGroup]="formRegPropS4">
    <section class="share-about-your-place">
        <div class="share-about-your-place-wrapper">
            <div class="input-wrapper">
                <div class="label">Guests</div>
                <input type="number" name="guests" formControlName="guests"/>
            </div>
            <div class="input-wrapper">
                <div class="label">Bedrooms</div>
                <input type="number" name="bedrooms" formControlName="bedrooms"/>
            </div>
            <div class="input-wrapper">
                <div class="label">Beds</div>
                <input type="number" name="beds" formControlName="beds"/>
            </div>
            <div class="input-wrapper">
                <div class="label">Bathroom</div>
                <input type="number" name="bathroom" formControlName="bathroom"/>
            </div>
        </div>
    </section>
</ng-container>