<section class="share-about-your-place">
    <div class="share-about-your-place-wrapper">
        <div class="input-wrapper">
            <div class="label">Guests</div>
            <input type="number" name="street" value="">
        </div>
        <div class="input-wrapper">
            <div class="label">Bedrooms</div>
            <input type="number" name="barangay" value="">
        </div>
        <div class="input-wrapper">
            <div class="label">Beds</div>
            <input type="number" name="city" value="">
        </div>
        <div class="input-wrapper">
            <div class="label">Bathroom</div>
            <input type="number" name="zipcode" value="">
        </div>
    </div>
</section>