<div class="addguest-modal">
    <div class="addguest-modal-add-guest-container">
        <div class="addguest-header-wrapper">
            <div class="addguest-title">Add Guest</div>
            <div class="close-button-normal close" (click)="closeDialogAddGuest()">
                <mat-icon aria-hidden="false" aria-label="close" fontIcon="close"></mat-icon>
            </div>
        </div>
        <form>
            <div class="input-addguest">
                <label for="adults">Adults (13+ years):</label>
                <input type="number" [(ngModel)]="adults" id="adults" name="adults" min="0" placeholder="0" required><br>
            </div>
            <div class="input-addguest">
                <label for="children">Children (2-12 years):</label>
                <input type="number" [(ngModel)]="children" id="children" name="children" min="0" placeholder="0" required><br>
            </div>
            <div class="input-addguest">
                <label for="infants">Infants (0-1 years):</label>
                <input type="number" [(ngModel)]="infants" id="infants" name="infants" min="0" placeholder="0" required><br>
            </div>
            <div class="input-addguest">
                <label for="pets">Pets:</label>
                <input type="number" [(ngModel)]="pets" id="pets" name="pets" min="0" placeholder="0" required><br>
            </div>
            <button class="main-button custom-btn" (click)="closeDialogAddGuest()">
                Save
            </button>
        </form>
    </div>
</div>