<div class="account-settings" [@fadeInAnimation]>
    <div class="account-settings-account-settings-wrapper">
        <section class="account-settings-content">
            <div class="title">Account Settings</div>
            <div class="content">
                <div class="tabs">
                    <button (click)="goToLoginSecurity()" [routerLinkActive]="'active'" routerLink="security-settings">Login & Security</button>
                    <button (click)="goToPaymentsWalletSetting()" [routerLinkActive]="'active'" routerLink="payment-wallet-settings">Payment Settings</button>
                    <button (click)="goToAccountVerification()" [routerLinkActive]="'active'" routerLink="account-verification">Account Verification</button>
                </div>
                <div class="info">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </section>
    </div>
</div>