<div class="payment-wallet">
    <div class="payment-wallet-payment-wallet-wrapper">
        <form>
            <div class="your-information-about-your-info">
                <div class="your-likes">
                    <!-- <div class="title">Your Personal Information</div> -->
                    <div class="info">
                        <div class="input-wrapper">
                            <div class="label">Current Password</div>
                            <input type="text" name="name" value="" placeholder="">
                        </div>
                        <div class="input-wrapper">
                            <div class="label">New Password</div>
                            <input type="text" name="surname" value="">
                        </div>
                        <div class="input-wrapper">
                            <div class="label">Confirm Password</div>
                            <input type="text" name="email" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-sec">
                <button class="main-button ">Done</button>
            </div>
        </form>
    </div>
</div>