.guest_container{
  font-family: Poppins-Regular;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .info-details_header {
    padding: 1rem 1rem 0rem ;
    .title {
        font-weight: bolder;
        font-size: clamp(1rem, 1vw, 8rem);
    }

    .subtitle {
      font-size: clamp(1rem, .8vw, 4rem);
    }
}


  .table-container {
    margin: 24px;
    flex: 1;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #ffffff;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .airbnb-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    
    color: #484848;
  }
  
  .airbnb-table thead {
    background-color: #f7f7f7;
  }

  .airbnb-table th,
  .airbnb-table td {
    padding: 16px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20rem;
    min-width:8rem; 
  }
  
  .airbnb-table th {

    font-size: 14px;
    color: #767676;
    border-bottom: 2px solid #e0e0e0;
    white-space: pre;
  }
  
  .airbnb-table td {
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
    white-space: pre;
  }
  
  .custom-col-span{
     
  }
  .airbnb-table tbody tr:hover {
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
  }
  
  .airbnb-table tbody tr:last-child td {
    border-bottom: none;
  }
  
  .airbnb-table td:first-child {
 
  }
  
  .airbnb-table td:last-child {
 
  }
  
  @media (max-width: 768px) {
    .airbnb-table th,
    .airbnb-table td {
      padding: 12px;
      font-size: 14px;
    }
  }
}

