<div class="more-info">
    <div class="header">
        <div class="title">
            Choose how to pay
        </div>
        <div class="close-button-normal" (click)="closeDialogInfo()"><mat-icon>close</mat-icon></div>
    </div>
    <hr>
    
    <div class="more-info-wrapper">
        <div class="wrapper">
            <div class="title">Pay now</div>
            <div class="subtitle">
                Your full payment method will be charged today.
            </div>
        </div>
        <div class="wrapper">
            <div class="title">Pay part now, part later</div>
            <div class="subtitle">
                You can pay for part of this reservation now, and the rest later. No additional fees.
            </div>
        </div>
    </div>
</div>